/* ========== Setup ========== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ========== Body ========== */

body {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
}

/* ========== Content ========== */

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ========== Nav Bar ========== */

#nav-bar {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 10px 0px 10px 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

#nav-tile {
   height: 40vh;
   position: relative;
   background-image: url(../images/code.jpg);
   background-position: 65% 43%;
   background-size: cover;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    display: inline;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

li nav a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#nav-active {
    background: rgb(247, 7, 7);
}

li nav a:hover {
    background: rgb(247, 7, 7);
}

/* ========== Search tile ========== */

#search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

#search-tile {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    padding: 12px 20px;
    margin-right: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    width: 10%;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

button[type="submit"]:hover {
    background-color: rgb(247, 7, 7);
}

/* ========== topics ========== */

.topics {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
}

/* ========== topic ========== */

.topic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0 1rem 0;
}

#data-type{
    background-color: rgb(255, 244, 163);
    color: rgb(0, 0, 0);
}

#data-structure{
    background-color: rgb(150, 212, 212);
    color: rgb(0, 0, 0);
}

#tools {
    background-color: rgb(255, 192, 199);
    color: rgb(0, 0, 0);
}

#languages {
    background-color: rgb(243, 236, 234);
    color: rgb(0, 0, 0);
}

#search-algo {
    background-color: rgb(255, 244, 163);
    color: rgb(0, 0, 0);
}

#art-intel {
    background-color: rgb(150, 212, 212);
    color: rgb(0, 0, 0);
}

/* ========== sub-topic ========== */

.topic-text {
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.learn-topic {
    background-color: rgb(76, 175, 80);
    color:rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    font-size: 20px;
}

.learn-topic:hover {
    background-color: rgba(76, 175, 80, 0.6);
    cursor: pointer;
}

.sub-topic {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    font-size: 20px;
}

.sub-topic:hover {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.practice {
    background-color: rgb(33, 33, 33);
    color:rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    font-size: 20px;
}

.practice:hover {
    background-color: rgba(33, 33, 33, 0.6);
    cursor: pointer;
}

.quiz {
    background-color: rgb(247, 7, 7);
    color:rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    font-size: 20px;
}

.quiz:hover {
    background-color: rgba(247, 7, 7, 0.6);
    cursor: pointer;
}

/* ========== footer ========== */

.footer-tile {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#footer-tran {
    height: 1px;
    background-color: rgba(255, 255, 255, 1);
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
}

.info {
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 1rem;
}

.info:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    height: 80%;
    border-right: 1px solid #ccc;
}

.info:hover {
    color: rgb(247, 7, 7);
    cursor: pointer;
}