/* ========== Setup ========== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ========== Body ========== */

body {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
}

/* ========== Content ========== */

.content {
    display: flex;
    flex-direction: column;
}

/* ========== Welcome tile ========== */

#welcome-tile {
    background-color: rgba(0, 0, 0, 0.9);
    color: #506d71;
    font-size: 36px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 10px 0px 10px 5px;
}

#search-tile {
   height: 30vh;
   background-image: url(../images/sunset.jpg);
   background-position: 65% 45%;
   object-fit: cover;
}

#search-tile form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

input[type="text"] {
    padding: 12px 20px;
    margin-right: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    width: 10%;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

button[type="submit"]:hover {
    background-color: rgb(247, 7, 7);
}

/* ========== tiles ========== */

.tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em 0 3em 0;
}

/* ========== tile ========== */

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15em;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 1em 0 1em 0;
}

.tile-text {
    font-size: 25px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px;
}

.tile-icon {
    height: 2em;
}

#bio-tile {
    background: linear-gradient(rgba(255, 255, 255, 0.4),
     rgba(255, 255, 255, 0.4)), url(../images/dna.jpg);
    background-size: cover;
}

#bio-tile:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)), url(../images/dna.jpg);
    background-size: cover;
    cursor: pointer;
}

#chemistry-tile {
    background: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)), url(../images/chemistry.jpg);
    background-size: cover;
}

#chemistry-tile:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)), url(../images/chemistry.jpg);
    background-size: cover;
    cursor: pointer;
}

#computer-tile {
    background: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)), url(../images/code.jpg);
    background-size: cover;
}

#computer-tile:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)), url(../images/code.jpg);
    background-size: cover;
    cursor: pointer;
}

#engineering-tile {
    background: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)), url(../images/engineering.jpg);
    background-size: cover;
}

#engineering-tile:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)), url(../images/engineering.jpg);
    background-size: cover;
    cursor: pointer;
}

/* ========== sub-tile ========== */

.sub-tile {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 10em;
    text-align: center;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
}

/* ========== footer ========== */

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    background-color: white;
    height: 10vh;
    text-align: center;
}