/* ========== Setup ========== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ========== Body ========== */

body {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
}

/* ========== Content ========== */

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ========== Nav Bar ========== */

#nav-bar {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 10px 0px 10px 5px;
    background-color: rgba(0, 0, 0, 0.12);
}

#nav-tile {
   height: 40vh;
   position: relative;
   background-image: url(../images/sunset.jpg);
   background-position: 65% 43%;
   object-fit: cover;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    display: inline;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

li nav a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#nav-active {
    background: rgb(247, 7, 7);
}

li nav a:hover {
    background: rgb(247, 7, 7);
}

/* ========== Search tile ========== */

#search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

#search-tile {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    padding: 12px 20px;
    margin-right: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    width: 10%;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

button[type="submit"]:hover {
    background-color: rgb(247, 7, 7);
}

/* ========== tiles ========== */

.tiles {
    background-color: #212121;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 16px 0 16px 0;
    margin-bottom: 2.5rem;
}

/* ========== tile ========== */

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 0 0 1rem 0;
    margin: 1rem;
}

.tile-text {
    background-color: rgba(0, 0, 0, 0.3);
    color:rgb(255, 255, 255);
    font-size: 25px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.tile-icon {
    display: none;
    height: 2rem;
}

#bio-tile {
    background: linear-gradient(rgba(255, 255, 255, 0.4),
     rgba(255, 255, 255, 0.4)), url(../images/dna.jpg);
    background-size: cover;
}

#bio-tile:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)), url(../images/dna.jpg);
    background-size: cover;
    cursor: pointer;
}

#chemistry-tile {
    background: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)), url(../images/chemistry.jpg);
    background-size: cover;
}

#chemistry-tile:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)), url(../images/chemistry.jpg);
    background-size: cover;
    cursor: pointer;
}

#computer-tile {
    background: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)), url(../images/code.jpg);
    background-size: cover;
}

#computer-tile:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)), url(../images/code.jpg);
    background-size: cover;
    cursor: pointer;
}

#engineering-tile {
    background: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)), url(../images/engineering.jpg);
    background-size: cover;
}

#engineering-tile:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)), url(../images/engineering.jpg);
    background-size: cover;
    cursor: pointer;
}

#math-tile {
    background: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)), url(../images/math.jpg);
    background-size: cover;
}

#math-tile:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)), url(../images/math.jpg);
    background-size: cover;
    cursor: pointer;
}

#future-tile {
    background: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)), url(../images/future.jpg);
    background-size: cover;
}

#future-tile:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)), url(../images/future.jpg);
    background-size: cover;
    cursor: pointer;
}

/* ========== sub-tile ========== */

.sub-tile {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    width: 75%;
    text-align: center;
    font-size: large;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
}

/* ========== footer ========== */

.footer-tile {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#footer-tran {
    height: 0.5rem;
    background-image: linear-gradient(#212121,white,black);
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
}

.info {
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 1rem;
}

.info:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    height: 80%;
    border-right: 1px solid #ccc;
}

.info:hover {
    color: rgb(247, 7, 7);
    cursor: pointer;
}