{% extends "code_base.html" %}

{% block title %}Float{% endblock %}

{% block topic %}
<div class="topic" id="data-type">
    <div class="title">Float</div>
    <div class="description">
        Numerical data types composed of fractions or decimals.
    </div>
    <div class="examples">
        <table class="terms-table" id="terms-center">
            <thead>
                <tr>
                    <th>Float</th>
                    <th>Not a Float</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>-1.004567</td>
                    <td>-1,004,567</td>
                </tr>
                <tr>
                    <td>1.1</td>
                    <td>'1.1'</td>
                </tr>
                <tr>
                    <td>0.1</td>
                    <td>Q</td>
                </tr>
                <tr>
                    <td>5.6</td>
                    <td>Five point Six</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="topic">
    <div class="title">Float Types</div>
    <div class="description">
        Just like integers, floats can vary in range. This precision determines the storage
        size needed for the value. 
        <p>
            See <a href="https://en.wikipedia.org/wiki/IEEE_754-1985">IEEE 754-1985</a> standard for representing floating-point numbers.
        </p>
    </div>
    <div class="examples">
        <table class="terms-table" id="terms-left">
            <thead>
                <tr>
                    <th>Float Types</th>
                    <th>Storage Size</th>
                    <th>Range</th>
                    <th>Precision</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>float</td>
                    <td>4 Bytes</td>
                    <td>1.2E-38 to 3.4E+38</td>
                    <td>6 decimal places</td>
                </tr>
                <tr>
                    <td>double</td>
                    <td>8 bytes</td>
                    <td>2.3E-308 to 1.7E+308</td>
                    <td>15 decimal places</td>
                </tr>
                <tr>
                    <td>long double</td>
                    <td>10 bytes</td>
                    <td>3.4E-4932 to 1.1E+4932</td>
                    <td>19 decimal places</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Python</div>
<div class="sel-code" id="ex-2">C</div>
<div class="sel-code" id="ex-3">C++</div>
<div class="sel-code" id="ex-4">C#</div>
<div class="sel-code" id="ex-5">Java</div>
<div class="sel-code" id="ex-6">JavaScript</div>
{% endblock %}

{% block code %}
<!-- Python code example -->
<code class="code" id="ex-1-code">
# Floats in Python

f = 1.1
myNum = -2023.02023
longNum = 3.14159265359
</code>

<!-- C code example -->
<code class="code" id="ex-2-code">
// Floats in C

float f = 1.1;
double myNum = -2023.02023;
float longNum = 3.14159265359;
</code>

<!-- C++ code example -->
<code class="code" id="ex-3-code">
// Floats in C++

float f = 1.1;
float myNum = -2023.02023;
double longNum = 3.14159265359;
</code>

<!-- C# code example -->
<code class="code" id="ex-4-code">
// Floats in C#

float f = 1.1F;
float myNum = -2023.02023F;
double longNum = 3.14159265359D;
</code>

<!-- Java code example -->
<code class="code" id="ex-5-code">
// Floats in Java

float f = 1.1f;
float myNum = -2023.02023f;
double longNum = 3.14159265359d;
</code>

<!-- JavaScript code example -->
<code class="code" id="ex-6-code">
// Floats in JavaScript

let f = 1.1;
var myNum = -2023.02023;
let longNum = 3.14159265359;
</code>
{% endblock %}

