{% extends "languages/cpp/cpp_base.html" %}

{% block title %}C++{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title">C++</div>
    <div class="description">A programming language</div>
    <a class="more" href="{{  url_for('cpp')  }}"><b>Learn C++</b></a>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<pre class="code" id="ex-1-code"><code class="language-cpp">
#include &#60;iostream&#62;
using namespace std;

int main() {
    cout &#60;&#60; "Hello World!" ;
    return 0;
}
</code></pre>
{% endblock %}

{% block output %}
<pre class="code" id="ex-1-output"><code class="language-cpp">
Hello World!
</code></pre>
{% endblock %}