{% extends "base.html" %}

<!--{% block title %}C++{% endblock %}-->

{% block sidenav %}
<div class="sidebar">
    <Span>C++ Tutorial</Span>
    <a href="{{  url_for('cpp')  }}">Setup</a>
    <a href="{{  url_for('cpp')  }}">Comments</a>
    <a href="{{  url_for('cpp')  }}">Data Types</a>
    <a href="{{  url_for('cpp')  }}">Casting</a>
    <a href="{{  url_for('cpp')  }}">Operators</a>
    <a href="{{  url_for('cpp')  }}">Lists</a>
    <a href="{{  url_for('cpp')  }}">Arrays</a>
    <a href="{{  url_for('cpp')  }}">Casting</a>
    <a href="{{  url_for('cpp')  }}">Tuples</a>
    <a href="{{  url_for('cpp')  }}">Sets</a>
    <a href="{{  url_for('cpp')  }}">Dictionaries</a>
    <a href="{{  url_for('cpp')  }}">Conditionals</a>
    <a href="{{  url_for('cpp')  }}">Loops</a>
    <a href="{{  url_for('cpp')  }}">Functions</a>
    <a href="{{  url_for('cpp')  }}">lambda</a>
    <a href="{{  url_for('cpp')  }}">Classes</a>
    <a href="{{  url_for('cpp')  }}">Inheritance</a>
    <a href="{{  url_for('cpp')  }}">Modules</a>
    <a href="{{  url_for('cpp')  }}">Try..Except</a>
    <span>Other</span>
    <a href="{{  url_for('cpp')  }}">User Input</a>
    <a href="{{  url_for('cpp')  }}">File Handling</a>
</div>
{% endblock %}

{% block content %}

{% block topic %}{% endblock %}

<div class="topic">
    <div class="title">Code Example</div>
    <div class="code-examples">
        <code class="code-example" id="code">
            {% block code %}{% endblock %}
        </code>
    </div>
</div>
{% endblock %}