{% extends "languages/css/css_base.html" %}

{% block title %}CSS{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title">CSS</div>
    <div class="description">A language used used for styling webpages.</div>
    <a class="more" href="{{  url_for('css')  }}"><b>Learn CSS</b></a>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<code class="code" id="ex-1-code">
body {
    background-color: #212121;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
</code>
{% endblock %}

{% block output %}
<code class="code" id="ex-1-output">
NONE
</code>
{% endblock %}