{% extends "languages/cpp/cpp_base.html" %}

{% block title %}C++{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title center-txt">C++ Tutorial</div>
    <div class="description left-txt">
        <p>
            C++ has a large and active community, extensive library support, and is widely used in various domains, including
            systems programming, game development, scientific computing, and high-performance computing. It offers a balance between
            performance and abstraction, making it a powerful language for a wide range of applications.
        </p>
        <p>
            <b>General-Purpose Programming Language:</b> C++ is a versatile programming language that supports various programming
            paradigms, including procedural, object-oriented, and generic programming. It is an extension of the C programming
            language with added features and capabilities.
        </p>
        <p>
            <b>Object-Oriented Programming (OOP):</b> C++ supports object-oriented programming, allowing developers to create and
            manipulate objects, define classes, encapsulate data, and implement inheritance, polymorphism, and other OOP concepts.
        </p>
        <p>
            <b>Performance and Efficiency:</b> C++ is known for its performance and efficiency. It provides low-level control, direct
            memory manipulation, and supports features like inline assembly, manual memory management, and efficient abstractions.
            This makes it suitable for developing performance-critical applications, system software, game engines, and
            resource-constrained environments.
        </p>
        <p>
            <b>Systems Programming:</b> C++ is widely used for systems programming tasks. It is commonly used for developing operating
            systems, device drivers, embedded systems, and other low-level software where fine-grained control over hardware
            resources and memory management is necessary.
        </p>
        <p>
            <b>Game Development:</b> C++ is a popular language in the game development industry. It provides the necessary performance and
            control needed for real-time rendering, physics simulations, and resource management. Many game engines, such as Unreal
            Engine and Unity, provide C++ support for engine customization and performance-critical parts.
        </p>
        <p>
            <b>High-Performance Computing (HPC):</b> C++ is used in the field of high-performance computing, where computational tasks
            require maximum performance. Its ability to utilize hardware resources efficiently, along with libraries like MPI
            (Message Passing Interface) and OpenMP, makes it a preferred choice for scientific simulations, numerical analysis, and
            parallel computing.
        </p>
        <p>
            <b>Cross-Platform Development:</b> C++ supports cross-platform development, allowing code to be written once and run on
            multiple operating systems. With the use of libraries like Qt and Boost, developers can create applications that run on
            Windows, macOS, Linux, and other platforms.
        </p>
        <p>
            <b>Large Software Projects:</b> C++ is often used for developing large-scale software projects. It provides features like
            modularity, namespaces, and libraries that aid in organizing and managing complex codebases. Additionally, many software
            frameworks and libraries, such as the Standard Template Library (STL), are built in C++.
        </p>
    </div>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<pre class="code" id="ex-1-code"><code class="language-cpp">
#include &#60;iostream&#62;
using namespace std;

int main() {
    cout &#60;&#60; "Hello World!" ;
    return 0;
}
</code></pre>
{% endblock %}

{% block output %}
<pre class="code" id="ex-1-output"><code class="language-cpp">
Hello World!
</code></pre>
{% endblock %}