{% extends "base_code.html" %}

{% block sidenav %}
<div class="sidebar left-txt">
    <Span>C++ Tutorial</Span>
    <a href="{{  url_for('languages.cpp_setup')  }}">Setup</a>
    <a href="{{  url_for('languages.cpp')  }}">Comments</a>
    <a href="{{  url_for('languages.cpp')  }}">Data Types</a>
    <a href="{{  url_for('languages.cpp')  }}">Constants</a>
    <a href="{{  url_for('languages.cpp')  }}">Operators</a>
    <a href="{{  url_for('languages.cpp')  }}">Booleans</a>
    <a href="{{  url_for('languages.cpp')  }}">Conditionals</a>
    <a href="{{  url_for('languages.cpp')  }}">Switch</a>
    <a href="{{  url_for('languages.cpp')  }}">Loops</a>
    <a href="{{  url_for('languages.cpp')  }}">Arrays</a>
    <a href="{{  url_for('languages.cpp')  }}">User Input</a>
    <a href="{{  url_for('languages.cpp')  }}">Pointers</a>
    <a href="{{  url_for('languages.cpp')  }}">Functions</a>
    <a href="{{  url_for('languages.cpp')  }}">Structures</a>
    <a href="{{  url_for('languages.cpp')  }}">Exceptions</a>
    <span>Classes</span>
    <a href="{{  url_for('languages.cpp')  }}">Classes</a>
    <a href="{{  url_for('languages.cpp')  }}">Class Methods</a>
    <a href="{{  url_for('languages.cpp')  }}">Access Specifiers</a>
    <a href="{{  url_for('languages.cpp')  }}">Encapsulation</a>
    <a href="{{  url_for('languages.cpp')  }}">Inheritance</a>
    <a href="{{  url_for('languages.cpp')  }}">Polymorphism</a>
    <span>Other</span>
    <a href="{{  url_for('languages.cpp')  }}">User Input</a>
    <a href="{{  url_for('languages.cpp')  }}">File Handling</a>
</div>
{% endblock %}