{% extends "languages/c/c_base.html" %}

{% block title %}C{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title">C</div>
    <div class="description">A programming language</div>
    <a class="more" href="{{  url_for('c')  }}"><b>Learn C</b></a>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<code class="code" id="ex-1-code">
#include &#60;stdio.h&#62;

int main() {
    printf("Hello World!");
    return 0;
}
</code>
{% endblock %}

{% block output %}
<code class="code" id="ex-1-output">
Hello World!
</code>
{% endblock %}