{% extends "base.html" %}

<!--{% block title %}C{% endblock %}-->

{% block sidenav %}
<div class="sidebar">
    <Span>C Tutorial</Span>
    <a href="{{  url_for('c_route', pagename='Setup')  }}">Setup</a>
    <a href="{{  url_for('c_route', pagename='Main')  }}">Comments</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Data Types</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Casting</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Operators</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Lists</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Arrays</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Casting</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Tuples</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Sets</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Dictionaries</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Conditionals</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Loops</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Functions</a>
    <a href="{{  url_for('c_route', pagename='')  }}">lambda</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Classes</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Inheritance</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Modules</a>
    <a href="{{  url_for('c_route', pagename='')  }}">Try..Except</a>
    <span>Other</span>
    <a href="{{  url_for('c_route', pagename='')  }}">User Input</a>
    <a href="{{  url_for('c_route', pagename='')  }}">File Handling</a>
</div>
{% endblock %}

{% block content %}

{% block topic %}{% endblock %}

<div class="topic">
    <div class="title">Code Example</div>
    <div class="code-examples">
        <code class="code">
            {% block code %}{% endblock %}
        </code>
    </div>
    <div class="title">Output</div>
    <div class="code-examples">
        <code class="code">
            {% block output %}{% endblock %}
        </code>
    </div>
</div>
{% endblock %}