{% extends "languages/c/c_base.html" %}

{% block title %}C Operators{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title">Operators</div>
    <div class="description-left">
        <p>
            In the C programming language, operators are symbols that perform various operations on operands (variables, constants,
            or expressions) to produce a result. C provides a wide range of operators that can be classified into different
            categories based on their functionality.
        </p>
        <p>
        It's important to understand the precedence and associativity rules of operators to write correct and meaningful
        expressions. Parentheses can also be used to explicitly control the order of evaluation.
        </p>
        <p>
        Operators in C allow you to perform mathematical calculations, compare values, combine logical conditions, manipulate
        bits, assign values, and more. They are essential tools for performing various operations in C programs.
        </p>
    </div>
</div>
<div class="topic">
    <div class="title">Arithmetic Operators</div>
    <div class="description">
        <table class="center-table">
            <thead>
                <th>Operator</th>
                <th>Name</th>
                <th>Description</th>
                <th>Example</th>
            </thead>
            <tbody>
                <tr>
                    <td>+</td>
                    <td>Addition</td>
                    <td>Adds two values together</td>
                    <td>x + y</td>
                </tr>
                <tr>
                    <td>-</td>
                    <td>Subtraction</td>
                    <td>Subtracts one value from another</td>
                    <td>x - y</td>
                </tr>
                <tr>
                    <td>*</td>
                    <td>Multiplication</td>
                    <td>Multiplies two values together</td>
                    <td>x * y</td>
                </tr>
                <tr>
                    <td>/</td>
                    <td>Division</td>
                    <td>Divides one value from another</td>
                    <td>x / y</td>
                </tr>
                <tr>
                    <td>%</td>
                    <td>Modulo</td>
                    <td>Gets the division remainder</td>
                    <td>x % y</td>
                </tr>
                <tr>
                    <td>++</td>
                    <td>Increment</td>
                    <td>Increments the value by 1</td>
                    <td>++x</td>
                </tr>
                <tr>
                    <td>--</td>
                    <td>Decrement</td>
                    <td>Decreases the value by 1</td>
                    <td>--x</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="topic">
    <div class="title">Relational Operators</div>
    <div class="description">
        <table class="center-table">
            <thead>
                <th>Operator</th>
                <th>Name</th>
                <th>Description</th>
                <th>Example</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<pre class="code" id="ex-1-code"><code class="language-c">
// This is a one-line comment

/*
This is a multi-line comment
*/
</code></pre>
{% endblock %}

{% block output %}
<pre class="code" id="ex-1-output"><code class="language-c">
None
</code></pre>
{% endblock %}