{% extends "base.html" %}

<!--{% block title %}JavaScript{% endblock %}-->

{% block sidenav %}
<div class="sidebar">
    <Span>JavaScript Tutorial</Span>
    <a href="{{  url_for('javascript')  }}">Setup</a>
    <a href="{{  url_for('javascript')  }}">Comments</a>
    <a href="{{  url_for('javascript')  }}">Data Types</a>
    <a href="{{  url_for('javascript')  }}">Casting</a>
    <a href="{{  url_for('javascript')  }}">Operators</a>
    <a href="{{  url_for('javascript')  }}">Lists</a>
    <a href="{{  url_for('javascript')  }}">Arrays</a>
    <a href="{{  url_for('javascript')  }}">Casting</a>
    <a href="{{  url_for('javascript')  }}">Tuples</a>
    <a href="{{  url_for('javascript')  }}">Sets</a>
    <a href="{{  url_for('javascript')  }}">Dictionaries</a>
    <a href="{{  url_for('javascript')  }}">Conditionals</a>
    <a href="{{  url_for('javascript')  }}">Loops</a>
    <a href="{{  url_for('javascript')  }}">Functions</a>
    <a href="{{  url_for('javascript')  }}">lambda</a>
    <a href="{{  url_for('javascript')  }}">Classes</a>
    <a href="{{  url_for('javascript')  }}">Inheritance</a>
    <a href="{{  url_for('javascript')  }}">Modules</a>
    <a href="{{  url_for('javascript')  }}">Try..Except</a>
    <span>Other</span>
    <a href="{{  url_for('javascript')  }}">User Input</a>
    <a href="{{  url_for('javascript')  }}">File Handling</a>
</div>
{% endblock %}

{% block content %}

{% block topic %}{% endblock %}

<div class="topic">
    <div class="title">Code Examples</div>
    <div class="code-examples">
        <code class="code-example" id="c-code">
            {% block py %}{% endblock %}
        </code>
    </div>
</div>
{% endblock %}