{% extends "languages/javascript/javascript_base.html" %}

{% block title %}JavaScript{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title">JavaScript</div>
    <div class="description">A programming language</div>
    <a class="more" href="{{  url_for('javascript')  }}"><b>Learn JavaScript</b></a>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<code class="code" id="ex-1-code">
console.log('Hello World!')
</code>
{% endblock %}

{% block output %}
<code class="code" id="ex-1-output">
Hello World!
</code>
{% endblock %}