{% extends "languages/javascript/javascript_base.html" %}

{% block title %}JavaScript{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title">JavaScript</div>
    <div class="description">A programming language</div>
    <a class="more" href="{{  url_for('javascript')  }}"><b>Learn JavaScript</b></a>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<pre class="code" id="ex-1-code"><code class="language-js">
console.log('Hello World!')
</code></pre>
{% endblock %}

{% block output %}
<pre class="code" id="ex-1-output"><code class="language-js">
Hello World!
</code></pre>
{% endblock %}