<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>Computer Science</title>
        <link rel="stylesheet" type="text/css" href="../../css/computer_science/cs_concepts.css">
    </head>
    <body>

        <div class="content">

            <!--Welcome Tile-->
            <div id="nav-tile">
                <div id="nav-bar">
                    <ul class="nav">
                        <li><nav><a href="../Home.html">Home</a></nav></li>
                        <li><nav><a href="../bioinformatics.html">Bioinformatics</a></nav></li>
                        <li><nav><a href="../chemistry.html">Chemistry</a></nav></li>
                        <li><nav><a href="../computer_science.html">Computer Science</a></nav></li>
                        <li><nav><a href="../engineering.html">Engineering</a></nav></li>
                        <li><nav><a href="../math.html">Math</a></nav></li>
                        <li><nav><a href="../useful_tools.html">Useful Tools</a></nav></li>
                    </ul>
                </div>
                <div id="search-container">
                    <form id="search-tile">
                        <input type="text" placeholder="Search...">
                        <button type="submit">Search</button>
                    </form>
                </div>
                
            </div>

            <!--Contains All Content Tiles-->
            <div class="topics">

                <div class="topic" id="data-type">
                    <div class="topic-text">Data Types</div>

                    <table class="sub-topic">
                        <thead>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Examples</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Integer (int)</td>
                                <td>
                                    Numerical data type composed of whole numbers
                                </td>
                                <td>-5, 0, 123</td>
                            </tr>
                            <tr>
                                <td>Long (long integer)</td>
                                <td>
                                    Integers with a large range set with signed 32-bit numbers ranging 
                                    from -2,147,483,648 to 2,147,483,647 and unsigned 32-bit numbers ranging
                                    from 0 to 4,294,967,295
                                </td>
                                <td>0, 1234567</td>
                            </tr>
                            <tr>
                                <td>Short (short integer)</td>
                                <td>
                                    Integers with a small range set with signed 32-bit numbers ranging
                                    from -32,767 to 32,767 and unsigned 32-bit numbers ranging
                                    from 0 to 65,535
                                </td>
                                <td>-5, 0, 123</td>
                            </tr>
                            <tr>
                                <td>Floating Point (float)</td>
                                <td>
                                    Numberic data type used for numbers with decimals or fractions
                                </td>
                                <td>-5.5, 0.1, 123.5</td>
                            </tr>
                            <tr>
                                <td>Double</td>
                                <td>
                                    Data type used for higher precision decimal numbers that has a 64-bit
                                    floating point
                                </td>
                                <td>-5.421, 0, 3.141</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>
                                    Data type that stores a calendar date as YYYY-MM-DD format
                                </td>
                                <td>2023-01-27</td>
                            </tr>
                            <tr>
                                <td>Character (char)</td>
                                <td>
                                    Data type that stores a single letter, number, or special symbol.
                                </td>
                                <td>A, b, 6, +</td>
                            </tr>
                            <tr>
                                <td>String (str or VARCHAR)</td>
                                <td>
                                    Data type that stores a sequence of characters, numbers, or symbols
                                </td>
                                <td>MyString, b4life, h!4veryOne</td>
                            </tr>
                            <tr>
                                <td>Boolean (bool)</td>
                                <td>
                                    Logical data type used for true or false values
                                </td>
                                <td>0 (false), 1 (true)</td>
                            </tr>
                            <tr>
                                <td>Nothing (NULL or void)</td>
                                <td>
                                    Data type containing no value
                                </td>
                                <td>NULL, void, NaN</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="topic" id="data-structure">
                    <div class="topic-text">Data Structures</div>
                </div>

                <div class="topic" id="prog-con">
                    <div class="topic-text">Programming Concepts</div>
                </div>

                <div class="topic" id="test-know">
                    <div class="topic-text">Test Your Knowledge</div>
                </div>

            </div>

            <!--Contains Footer Tile-->
            <div class="footer-tile">
                <div id="footer-tran"></div>
                <footer class="footer" id="foot">
                    <div class="info" id="about">About</div>
                    <div class="info" id="contact">Contact</div>
                    <div class="info" id="resources">Resources</div>
                </footer>
            </div>

        </div>
    </body>
</html>