/* ========== Setup ========== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ========== Body ========== */

body {
    background-color: #212121;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ========== Nav Bar ========== */

.nav-tile {
    min-height: 40vh;
    position: relative;
    background-position: center;
    background-size: cover;
}

#nav-bar {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 10px 0px 10px 5px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
}

#home-page {
    background-image: url(../images/nav/sunset.jpg);
}
#data-page, #struct-page, #lang-page, #algo-page {
    background-image: url(../images/nav/code.jpg);
}
#math-page {
    background-image: url(../images/nav/math.jpg);
}
#tools-page {
    background-image: url(../images/nav/future.jpg);
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    display: inline;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.nav li div, .nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.active {
    background: rgb(247, 7, 7);
}

.nav li div:hover, .nav li a:hover {
    background: rgb(247, 7, 7);
    cursor: pointer;
}

img {
    width: 100%;
    margin: 1rem 0 1rem 0;
}

/* ========== Sub Nav Bar ========== */

.sub-nav {
    display: none;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
}

.sub-nav a:not(.sn-title, .sn-main-title) {
    text-decoration: none;
    color: white;
}

.sn-main-title {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
    margin: 2px;
    color: #FFF4A3;
    font-size: 25px;
}

.sub-nav-topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sub-nav a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.sn-title {
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
    margin: 2px;
    color: #FFF4A3;
    font-size: 20px;
}

.sn-contents {
    display: flex;
    flex-direction: column;
}

.sn-contents a {
    padding: 2px;
    margin: 2px;
}

.sn-contents-row {
    display: flex;
    flex-direction: row;
}

.sn-contents-row a {
    padding: 4px;
    margin: 4px;
}

/* ========== Search tile ========== */

#search-tile {
    margin: 0 1rem 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

input[type="text"] {
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    border: none;
    font-size: 16px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
}

button[type="submit"] {
    padding: 14px 20px;
    border-radius: 0 4px 4px 0;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

button[type="submit"]:hover {
    background-color: rgb(247, 7, 7);
}

/* ========== content========== */
.content {
    position: relative;
    width: 100%;
    height: 100%;
}

/* ========== Side bar ========== */
.sidebar {
    height: 80%;
    width: auto;
    position:fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    overflow-x: hidden;
    margin-top: 5rem;
    border-radius: 4px;
    direction: rtl;
    text-align: left;
}

.sidebar span {
    font-size: 20px;
    color: #FFF4A3;
    padding: 6px 8px 6px 16px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    font-size: 15px;
}

.sidebar a:hover {
    color: #FFF4A3;
    background-color: rgba(0, 0, 0, 0.2);
}
/* ========== topics ========== */

.topics {
    width: 85%;
    margin-left: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}

/* ========== topic ========== */

.topic {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2rem 0 2rem 0;
    padding: 2rem 0 2rem 0;
    border-radius: 10px;
}

.topic-list {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2rem 0 2rem 0;
    padding: 2rem 0 2rem 0;
    border-radius: 10px;
}

.topic-tile-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 80%;
    margin: 1rem;
    border-radius: 10px;
}

.topic-tile {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

.title {
    color:rgb(255, 255, 255);
    font-size: 25px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.description {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 1rem 0 1rem 0;
    padding: 1rem 5rem 1rem 5rem;
    width: 100%;
    line-height: 2rem;
    text-align: center;
}

.description-left {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 1rem 0 1rem 0;
    padding: 1rem 5rem 1rem 5rem;
    width: 100%;
    line-height: 2rem;
}

.description a, 
.description-left a {
    text-decoration: none;
    color: #FFF4A3;
}

.description a:hover, 
.description-left a:hover {
    text-decoration: underline;
}

.description code,
.description-left code {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFF4A3;
    padding: 5px;
    border-radius: 4px;
}

.description li,
.description-left li {
    margin: 1rem 0 1rem 0;
}

.sub-topic {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    font-size: 20px;
}

.sub-topic:hover {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.more {
    color: white;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
}

.more:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

.code-snippet {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-family: monospace;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 4px;
}

.res-link {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.res-link:hover {
    color: #FFF4A3
}

b {
    color: #FFF4A3;
}

/* ========== form ========== */

#form-data {
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 15px;
}

input[type="submit"]:hover {
    background-color: rgb(247, 7, 7);
    cursor: pointer;
}

input[type="file"] {
    margin: 0.5rem;
    color: white;
    font-size: 15px;
}

input[type="file"]:hover {
    cursor: pointer;
}

/* ========== table ========== */

.terms-table:not(#terms-left) {
    color: white;
    text-align: center;
    border-collapse: separate;
}

#terms-left {
    color: white;
    border-collapse: separate;
}

.terms-table th,td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.5rem;
    font-size: 16px;
}

.terms-table tr td:nth-child(4),
.terms-table tr th:nth-child(4),
.terms-table tr td:nth-child(7),
.terms-table tr th:nth-child(7) {
    border-left: 1px solid white;
}

/* ========== result table ========== */

.result-table {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem;
    width: 75%;
}

.result-table table {
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-table thead th,
.result-table tbody td {
    padding: 8px;
}

.result-table thead th {
    font-size: 20px;
    font-weight: bold;
}

.result-table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.result-table tbody tr {
    display: block;
    float: left;
    width: 12.5%;
    border-bottom: 1px solid #ddd;
}

/* ========== code examples ========== */

.code-select {
    display: flex;
    flex-direction: row;
    justify-content:left;
    width: 75%;
}

.sel-code {
    color:rgb(255, 255, 255);
    padding: 0.5rem;
}

.sel-code:hover {
    cursor: pointer;
    color: #FFF4A3;
}

.code-examples {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
}

.code-example{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    display: block;
    white-space:pre-wrap;
    font-family: monospace;
    padding-left: 1rem;
}

.code {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    display: block;
    white-space: pre-wrap;
    font-family: monospace;
    padding: 1rem;
}

/* ========== footer ========== */

.footer-tile {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info {
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 1rem;
}

.info:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    height: 80%;
    border-right: 1px solid #ccc;
}

.info:hover {
    color: rgb(247, 7, 7);
    cursor: pointer;
}

/* ========== 404 Page ========== */

.error-404 {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 
        'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}