/* ========== Setup ========== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ========== Body ========== */

body {
    background-color: #212121;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
}

/* ========== Content ========== */

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ========== Nav Bar ========== */

#nav-bar {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 10px 0px 10px 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-tile {
   height: 40vh;
   position: relative;
   background-position: center;
   background-size: cover;
}

#home-page {
    background-image: url(../images/sunset.jpg);
}
#bio-page {
    background-image: url(../images/dna.jpg);
}
#chem-page {
    background-image: url(../images/chemistry.jpg);
}
#csci-page {
    background-image: url(../images/code.jpg);
}
#eng-page {
    background-image: url(../images/engineering.jpg);
}
#math-page {
    background-image: url(../images/math.jpg);
}
#tools-page {
    background-image: url(../images/future.jpg);
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    display: inline;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

li nav a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.active {
    background: rgb(247, 7, 7);
}

li nav a:hover {
    background: rgb(247, 7, 7);
}

/* ========== Search tile ========== */

#search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

#search-tile {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    padding: 12px 20px;
    margin-right: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    width: 10%;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

button[type="submit"]:hover {
    background-color: rgb(247, 7, 7);
}

/* ========== topics ========== */

.topics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}

/* ========== topic ========== */

.topic {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2rem 0 2rem 0;
    padding: 2rem 0 2rem 0;
    border-radius: 10px;
}

.title {
    color:rgb(255, 255, 255);
    font-size: 25px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.description {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    border-radius: 4px;
    margin: 1rem 0 1rem 0;
    padding: 1rem 5rem 1rem 5rem;
    width: 100%;
    text-align: center;
}

.sub-topic {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    font-size: 20px;
}

.sub-topic:hover {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.more {
    color: white;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 4px;
    padding: 1rem;
    text-decoration: none;
}

.more:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

/* ========== form ========== */

#form-data {
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 15px;
}

input[type="submit"]:hover {
    background-color: rgb(247, 7, 7);
    cursor: pointer;
}

input[type="file"] {
    margin: 0.5rem;
    color: white;
    font-size: 15px;
}

input[type="file"]:hover {
    cursor: pointer;
}

/* ========== table ========== */

table {
    color: white;
    text-align: center;
}

th {
    font-weight: bold;
}

th, td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 1rem;
    font-size: 16px;
}

/* ========== footer ========== */

.footer-tile {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info {
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 1rem;
}

.info:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    height: 80%;
    border-right: 1px solid #ccc;
}

.info:hover {
    color: rgb(247, 7, 7);
    cursor: pointer;
}