{% extends "languages/python/py_base.html" %}

{% block title %}Python{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title">Python</div>
    <div class="description">A programming language</div>
    <a class="more" href="{{  url_for('python')  }}"><b>Learn Python</b></a>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<code class="code" id="ex-1-code">
def myfunction():
    print("Hello World!")

if __name__ == "__main__":
    myfunction()
</code>
{% endblock %}

{% block output %}
<code class="code" id="ex-1-output">
Hello World!
</code>
{% endblock %}