{% extends "languages/python/py_base.html" %}

{% block title %}Python{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title">Python Tutorial</div>
    <div class="description-left">
        <p>
            Python's popularity has grown significantly over the years due to its simplicity, versatility, and extensive library
            support. It is widely adopted in various industries, including web development, data analysis, scientific computing,
            machine learning, and automation. Its active community and vast ecosystem of libraries make it a powerful and
            widely-used programming language.
        </p>
        <p>
            <b>General-Purpose Programming Language:</b> Python is a high-level, general-purpose programming language known for its
            simplicity and readability. It was developed in the late 1980s and emphasizes code readability and ease of use.
        </p>
        <p>
            <b>Beginner-Friendly:</b> Python is often considered a beginner-friendly programming language due to its clean syntax and
            easy-to-understand code. It has a shallow learning curve, making it an excellent choice for those new to programming.
        </p>
        <p>
            <b>Readability and Productivity:</b> Python's design philosophy emphasizes code readability and productivity. It utilizes a
            clean and concise syntax that focuses on code clarity, allowing developers to write code in fewer lines compared to
            other languages. Python's simplicity and expressive nature make it a popular choice for rapid application development.
        </p>
        <p>
            <b>Versatility:</b> Python is a versatile language that can be used for various purposes. It supports different programming
            paradigms, including procedural, object-oriented, and functional programming. Python is suitable for developing desktop
            applications, web applications, scientific computing, data analysis, machine learning, and automation scripts.
        </p>
        <p>
            <b>Large Standard Library and Ecosystem:</b> Python has a rich standard library that provides a wide range of modules and
            packages for common programming tasks. Additionally, Python has a vast ecosystem of third-party libraries and
            frameworks, such as NumPy, Pandas, Django, Flask, TensorFlow, and PyTorch, which extend its capabilities for specific
            domains and application development.
        </p>
        <p>
            <b>Data Analysis and Scientific Computing:</b> Python is widely used in the field of data analysis, scientific computing, and
            machine learning. Libraries like NumPy, Pandas, and SciPy provide powerful tools for data manipulation, numerical
            computations, and statistical analysis. Python's simplicity and the availability of specialized libraries make it a
            preferred choice for data scientists and researchers.
        </p>
        <p>
            <b>Web Development:</b> Python is used for web development, both on the server-side and for scripting tasks. Frameworks like
            Django and Flask simplify the development of web applications, handling tasks such as URL routing, database integration,
            and template rendering.
        </p>
        <p>
            <b>Automation and Scripting:</b> Python's ease of use and cross-platform compatibility make it well-suited for automation and
            scripting tasks. It is commonly used for tasks like batch processing, file operations, web scraping, and system
            administration.
        </p>
    </div>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<pre class="code" id="ex-1-code"><code class="language-python">
def myfunction():
    print("Hello World!")

if __name__ == "__main__":
    myfunction()
</code></pre>
{% endblock %}

{% block output %}
<pre class="code" id="ex-1-output"><code class="language-python">
Hello World!
</code></pre>
{% endblock %}