{% extends "languages/css/css_base.html" %}

{% block title %}CSS{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title center-txt">Cascading Style Sheets (CSS) Tutorial</div>
    <div class="description left-txt">
        <p>
            CSS is a fundamental technology for web development, working alongside HTML and JavaScript. Its versatility and power
            enable developers to transform plain HTML documents into visually appealing and interactive web pages. It is widely
            supported by web browsers and has become an essential skill for front-end web developers.
        </p>
        <p>
            <b>Styling Web Pages:</b> CSS is a stylesheet language used to describe the visual presentation of a web page or document
            written in HTML (Hypertext Markup Language). It allows developers to control the layout, appearance, and design elements
            of web pages.
        </p>
        <p>
            <b>Separation of Style and Content:</b> CSS follows the principle of separating style from content. It enables developers to
            define the visual aspects of a web page separately from the structural elements defined in HTML. This separation makes
            it easier to maintain and update the styling of a website.
        </p>
        <p>
            <b>Selective Styling and Cascading:</b> CSS uses selectors to target specific elements within an HTML document and apply
            styling rules to them. Selectors can target elements by their tag name, class, ID, attributes, or hierarchical
            relationships. CSS also incorporates the concept of cascading, where multiple styles can be applied to an element based
            on specificity and the order in which styles are defined.
        </p>
        <p>
            <b>Box Model and Layout Control:</b> CSS provides control over the box model, which defines how elements are structured and
            displayed on the web page. It allows developers to set dimensions, margins, padding, borders, and positioning properties
            to achieve desired layouts.
        </p>
        <p>
            <b>Typography and Fonts:</b> CSS enables control over typography, allowing developers to define font families, sizes, styles
            (such as bold or italic), line heights, letter spacing, and text alignment. It also provides the ability to import
            custom fonts using @font-face.
        </p>
        <p>
            <b>Colors and Backgrounds:</b> CSS provides extensive options for defining colors and backgrounds. Developers can specify
            colors using named colors, hexadecimal codes, RGB, or HSL values. CSS also allows for setting background images,
            gradients, repeating patterns, and controlling background positioning and behavior.
        </p>
        <p>
            <b>Responsive Design:</b> CSS plays a crucial role in creating responsive web designs. Using media queries, developers can
            apply different styles based on the screen size, orientation, or other device characteristics. This allows websites to
            adapt and provide optimal layouts for various devices, such as desktops, tablets, and mobile phones.
        </p>
        <p>
            <b>Animations and Transitions:</b> CSS includes animation and transition properties to create dynamic and interactive elements
            on a web page. Developers can define keyframes, specify duration and timing functions, and apply effects like fade-ins,
            rotations, and transitions between states.
        </p>
    </div>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<pre class="code" id="ex-1-code"><code class="language-css">
body {
    background-color: #212121;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
</code></pre>
{% endblock %}