{% extends "base_code_no_output.html" %}

{% block sidenav %}
<div class="sidebar left-txt">
    <Span>CSS Tutorial</Span>
    <a href="{{  url_for('languages.css')  }}">Setup</a>
    <a href="{{  url_for('languages.css')  }}">Sytax</a>
    <a href="{{  url_for('languages.css')  }}">Comments</a>
    <a href="{{  url_for('languages.css')  }}">Selectors</a>
    <a href="{{  url_for('languages.css')  }}">Colors</a>
    <a href="{{  url_for('languages.css')  }}">Backgrounds</a>
    <a href="{{  url_for('languages.css')  }}">Borders</a>
    <a href="{{  url_for('languages.css')  }}">Margins</a>
    <a href="{{  url_for('languages.css')  }}">Padding</a>
</div>
{% endblock %}