{% extends "base.html" %}

<!--{% block title %}CSS{% endblock %}-->

{% block sidenav %}
<div class="sidebar left-txt">
    <Span>CSS Tutorial</Span>
    <a href="{{  url_for('languages.css')  }}">Setup</a>
    <a href="{{  url_for('languages.css')  }}">Comments</a>
    <a href="{{  url_for('languages.css')  }}">Data Types</a>
    <a href="{{  url_for('languages.css')  }}">Casting</a>
    <a href="{{  url_for('languages.css')  }}">Operators</a>
    <a href="{{  url_for('languages.css')  }}">Lists</a>
    <a href="{{  url_for('languages.css')  }}">Arrays</a>
    <a href="{{  url_for('languages.css')  }}">Casting</a>
    <a href="{{  url_for('languages.css')  }}">Tuples</a>
    <a href="{{  url_for('languages.css')  }}">Sets</a>
    <a href="{{  url_for('languages.css')  }}">Dictionaries</a>
    <a href="{{  url_for('languages.css')  }}">Conditionals</a>
    <a href="{{  url_for('languages.css')  }}">Loops</a>
    <a href="{{  url_for('languages.css')  }}">Functions</a>
    <a href="{{  url_for('languages.css')  }}">lambda</a>
    <a href="{{  url_for('languages.css')  }}">Classes</a>
    <a href="{{  url_for('languages.css')  }}">Inheritance</a>
    <a href="{{  url_for('languages.css')  }}">Modules</a>
    <a href="{{  url_for('languages.css')  }}">Try..Except</a>
</div>
{% endblock %}

{% block content %}

{% block topic %}{% endblock %}

<div class="topic">
    <div class="title center-txt">Code Example</div>
    <div class="code-select">
        {% block examples %}{% endblock %}
    </div>

    <div class="code-examples">
        {% block code %}{% endblock %}
    </div>

    <div class="title center-txt">Output</div>
    <div class="code-examples">
        {% block output %}{% endblock %}
    </div>
</div>
{% endblock %}