{% extends "base.html" %}

<!--{% block title %}HTML{% endblock %}-->

{% block sidenav %}
<div class="sidebar left-txt">
    <Span>HTML Tutorial</Span>
    <a href="{{  url_for('languages.html')  }}">Setup</a>
    <a href="{{  url_for('languages.html')  }}">Comments</a>
    <a href="{{  url_for('languages.html')  }}">Elements</a>
    <a href="{{  url_for('languages.html')  }}">Attributes</a>
</div>
{% endblock %}

{% block content %}

{% block topic %}{% endblock %}

<div class="topic">
    <div class="title center-txt">Code Example</div>
    <div class="code-select">
        {% block examples %}{% endblock %}
    </div>

    <div class="code-examples">
        {% block code %}{% endblock %}
    </div>

    <div class="title center-txt">Output</div>
    <div class="code-examples">
        {% block output %}{% endblock %}
    </div>
</div>
{% endblock %}