{% extends "languages/cs/cs_base.html" %}

{% block title %}C#{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title">C# Tutorial</div>
    <div class="description-left">
        <p>
            C# (pronounced "C sharp") is a versatile and modern programming language developed by Microsoft. It was introduced in
        the early 2000s as part of the .NET framework and has since become widely adopted for various types of software
        development.
        </p>
        <p>
            Here's a brief overview of C# and its uses:
        </p>
        <p>
            <b>General-Purpose Language:</b> C# is a general-purpose programming language, meaning it can be used to develop a wide range
        of software applications, including desktop applications, web applications, mobile apps, cloud services, game
        development, and more.
        </p>
        <p>
            <b>Object-Oriented Programming (OOP):</b> C# is primarily an object-oriented language. It allows developers to create and
        manipulate objects, encapsulate data, and define relationships between objects using classes, inheritance, polymorphism,
        and other OOP principles.
        </p>
        <p>
            <b>Strongly Typed:</b> C# is a strongly typed language, which means variables and objects must have their types declared at
        compile time. This ensures type safety and helps catch errors during development.
        </p>
        <p>
            <b>Productivity and Readability:</b> C# emphasizes developer productivity and code readability. It offers features like
        automatic memory management (garbage collection), simplified syntax, powerful libraries, and extensive tooling support
        through integrated development environments (IDEs) such as Visual Studio and Visual Studio Code.
        </p>
        <p>
            <b>Cross-Platform Development:</b> With the introduction of .NET Core, C# can now be used for cross-platform development on
        Windows, macOS, and Linux systems. This allows developers to write C# code that can be deployed on different operating
        systems and devices.
        </p>
        <p>
            <b>Widely Used in Microsoft Ecosystem:</b> C# is tightly integrated with the Microsoft ecosystem and is commonly used for
        building applications on Windows, Microsoft Azure cloud services, and the .NET framework. It is often the language of
        choice for developing Windows desktop applications and ASP.NET web applications.
        </p>
        <p>
            <b>Game Development:</b> C# is a popular language for game development, particularly with the Unity game engine. Unity uses C#
        as its primary scripting language, allowing developers to create games for various platforms, including PC, consoles,
        and mobile devices.
        </p>
        <p>
            <b>IoT and Embedded Systems:</b> C# can also be used for Internet of Things (IoT) and embedded systems development. It offers
        libraries and frameworks that enable communication with sensors, devices, and IoT platforms.
        </p>
        <p>
            C# has a large and active developer community, extensive documentation, and strong support from Microsoft, making it a
        powerful and widely-used programming language for diverse software development needs.
        </p>
    </div>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<pre class="code" id="ex-1-code"><code class="language-cs">
using System;

namespace HelloWorld {
    class Program {
        static void Main(string[] args) {
            Console.WriteLine("Hello World!");
        }
    }
}
</code></pre>
{% endblock %}

{% block output %}
<pre class="code" id="ex-1-output"><code class="language-cs">
Hello World!
</code></pre>
{% endblock %}