{% extends "base_code.html" %}

{% block sidenav %}
<div class="sidebar left-txt">
    <Span>C# Tutorial</Span>
    <a href="{{  url_for('languages.cs_setup')  }}">Setup</a>
    <a href="{{  url_for('languages.cs')  }}">Comments</a>
    <a href="{{  url_for('languages.cs')  }}">Data Types</a>
    <a href="{{  url_for('languages.cs')  }}">Casting</a>
    <a href="{{  url_for('languages.cs')  }}">Operators</a>
    <a href="{{  url_for('languages.cs')  }}">Arrays</a>
    <a href="{{  url_for('languages.cs')  }}">Casting</a>
    <a href="{{  url_for('languages.cs')  }}">Dictionaries</a>
    <a href="{{  url_for('languages.cs')  }}">Conditionals</a>
    <a href="{{  url_for('languages.cs')  }}">Switch</a>
    <a href="{{  url_for('languages.cs')  }}">Loops</a>
    <a href="{{  url_for('languages.cs')  }}">Classes</a>
    <a href="{{  url_for('languages.cs')  }}">Methods</a>
    <a href="{{  url_for('languages.cs')  }}">Inheritance</a>
    <a href="{{  url_for('languages.cs')  }}">Modules</a>
    <a href="{{  url_for('languages.cs')  }}">Exceptions</a>
    <span>Other</span>
    <a href="{{  url_for('languages.cs')  }}">User Input</a>
    <a href="{{  url_for('languages.cs')  }}">File Handling</a>
</div>
{% endblock %}