{% extends "base_code.html" %}

{% block title %}Linked Lists{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title center-txt">Linked List</div>
    <div class="description left-txt">
        <p>
            A linked list is a data structure that represents a sequence of elements. It consists 
            of a sequence of nodes, where each node contains a value and a pointer (or reference) 
            to the next node in the sequence. The first node in the sequence is called the head, 
            and the last node is called the tail. If a node's pointer is set to null, it means 
            that the node is the tail of the linked list.
        </p>
        <p>
            Linked lists can be singly-linked, where each node only has a pointer to the next node, 
            or doubly-linked, where each node has a pointer to both the next and previous nodes in 
            the sequence.
        </p>
        <p>
            One of the key advantages of linked lists over arrays is that they allow for efficient 
            insertion and deletion operations, since elements can be easily inserted or removed by 
            updating pointers between nodes. This makes linked lists useful for implementing stacks, 
            queues, and other data structures where elements are frequently added or removed from
            the beginning or end of the sequence.
        </p>
        <p>
            However, one disadvantage of linked lists is that they do not provide constant-time access 
            to arbitrary elements in the sequence, as arrays do. To access an arbitrary element in a 
            linked list, you must traverse the list from the head until you reach the desired element. 
            This makes linked lists less suitable for use cases where random access to elements is
            required.
        </p>
        <p>
            Overall, linked lists are a powerful and flexible data structure that can be used in a 
            wide variety of applications.
        </p>
    </div>
    
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Python</div>
<div class="sel-code" id="ex-2">C</div>
<div class="sel-code" id="ex-3">C++</div>
<div class="sel-code" id="ex-4">C#</div>
<div class="sel-code" id="ex-5">Java</div>
<div class="sel-code" id="ex-6">JavaScript</div>
{% endblock %}

{% block code %}
<!-- Python code example -->
<pre class="code" id="ex-1-code"><code class="language-py">
{% include "data_structures/linear/code/linked_list/py_linked_list.html" %}
</code></pre>

<!-- C code example -->
<pre class="code" id="ex-2-code"><code class="language-c">
{% include "data_structures/linear/code/linked_list/c_linked_list.html" %}
</code></pre>

<!-- C++ code example -->
<pre class="code" id="ex-3-code"><code class="language-cpp">

</code></pre>

<!-- C# code example -->
<pre class="code" id="ex-4-code"><code class="language-cs">

</code></pre>

<!-- Java code example -->
<pre class="code" id="ex-5-code"><code class="language-java">

</code></pre>

<!-- JavaScript code example -->
<pre class="code" id="ex-6-code"><code class="language-js-templates">

</code></pre>
{% endblock %}

{% block output %}
<!-- Python code example output -->
<pre class="code" id="ex-1-output"><code class="language-python">
0 -> 1 -> 2 -> 3 -> 4 -> 5 -> 6 -> 7 -> 8 -> 9
11 -> 0 -> 1 -> 20 -> 2 -> 3 -> 4 -> 5 -> 6 -> 7 -> 8 -> 9
0 -> 1 -> 2 -> 3 -> 4 -> 5 -> 6 -> 7 -> 8 -> 9
</code></pre>

<!-- C code example output -->
<pre class="code" id="ex-2-output"><code class="language-c">
0 -> 1 -> 2 -> 3 -> 4 -> 5 -> 6 -> 7 -> 8 -> 9
11 -> 0 -> 1 -> 20 -> 2 -> 3 -> 4 -> 5 -> 6 -> 7 -> 8 -> 9
0 -> 1 -> 2 -> 3 -> 4 -> 5 -> 6 -> 7 -> 8 -> 9
</code></pre>

<!-- C++ code example output -->
<pre class="code" id="ex-3-output"><code class="language-cpp">

</code></pre>

<!-- C# code example output -->
<pre class="code" id="ex-4-output"><code class="language-cs">

</code></pre>

<!-- Java code example output -->
<pre class="code" id="ex-5-output"><code class="language-java">

</code></pre>

<!-- JavaScript code example output -->
<pre class="code" id="ex-6-output"><code class="language-js">

</code></pre>
{% endblock %}