{% extends "languages/sql/sql_base.html" %}

{% block title %}SQL{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title">SQL</div>
    <div class="description">A programming language</div>
    <a class="more" href="{{  url_for('sql')  }}"><b>Learn SQL</b></a>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<pre class="code" id="ex-1-code"><code class="language-sql">
CREATE TABLE CONTRIBUTOR(
    ID INT,
    Fname VARCHAR(20) NOT NULL,
    MInit CHAR,
    Lname VARCHAR(20) NOT NULL,
    Contact VARCHAR(40) NOT NULL,
    PRIMARY KEY(ID)
    UNIQUE(Contact));
</code></pre>
{% endblock %}

{% block output %}
<pre class="code" id="ex-1-output"><code class="language-sql">
NONE
</code></pre>
{% endblock %}