{% extends "base.html" %}

<!--{% block title %}SQL{% endblock %}-->

{% block sidenav %}
<div class="sidebar">
    <Span>SQL Tutorial</Span>
    <a href="{{  url_for('sql')  }}">Setup</a>
    <a href="{{  url_for('sql')  }}">Comments</a>
    <a href="{{  url_for('sql')  }}">Data Types</a>
    <a href="{{  url_for('sql')  }}">Casting</a>
    <a href="{{  url_for('sql')  }}">Operators</a>
    <a href="{{  url_for('sql')  }}">Lists</a>
    <a href="{{  url_for('sql')  }}">Arrays</a>
    <a href="{{  url_for('sql')  }}">Casting</a>
    <a href="{{  url_for('sql')  }}">Tuples</a>
    <a href="{{  url_for('sql')  }}">Sets</a>
    <a href="{{  url_for('sql')  }}">Dictionaries</a>
    <a href="{{  url_for('sql')  }}">Conditionals</a>
    <a href="{{  url_for('sql')  }}">Loops</a>
    <a href="{{  url_for('sql')  }}">Functions</a>
    <a href="{{  url_for('sql')  }}">lambda</a>
    <a href="{{  url_for('sql')  }}">Classes</a>
    <a href="{{  url_for('sql')  }}">Inheritance</a>
    <a href="{{  url_for('sql')  }}">Modules</a>
    <a href="{{  url_for('sql')  }}">Try..Except</a>
    <span>Other</span>
    <a href="{{  url_for('sql')  }}">User Input</a>
    <a href="{{  url_for('sql')  }}">File Handling</a>
</div>
{% endblock %}

{% block content %}

{% block topic %}{% endblock %}

<div class="topic">
    <div class="title">Code Examples</div>
    <div class="code-examples">
        <code class="code-example" id="c-code">
            {% block py %}{% endblock %}
        </code>
    </div>
</div>
{% endblock %}