{% extends "languages/java/java_base.html" %}

{% block title %}Java{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title">Java</div>
    <div class="description">A programming language</div>
    <a class="more" href="{{  url_for('java')  }}"><b>Learn Java</b></a>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<pre class="code" id="ex-1-code"><code class="language-java">
public class Main {
    public static void main(String[] args) {
        System.out.println("Hello World");
    }
}
</code></pre>
{% endblock %}

{% block output %}
<pre class="code" id="ex-1-output"><code class="language-java">
Hello World!
</code></pre>
{% endblock %}