{% extends "languages/java/java_base.html" %}

{% block title %}Java{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title">Java Tutorial</div>
    <div class="description-left">
        <p>
            Java has a large and active community, with extensive documentation, frameworks, and third-party libraries available.
            Its versatility, portability, and strong ecosystem make it suitable for a wide range of applications, from desktop
            software to enterprise systems and mobile apps.
        </p>
        <p>
            <b>General-Purpose Programming Language:</b> Java is a widely-used, general-purpose programming language developed by Sun
            Microsystems (now owned by Oracle) in the mid-1990s. It is designed to be platform-independent and portable.
        </p>
        <p>
            <b>Object-Oriented Programming (OOP):</b> Java is an object-oriented programming language. It follows the principles of
            encapsulation, inheritance, and polymorphism, allowing developers to create modular and reusable code using classes,
            objects, and interfaces.
        </p>
        <p>
            <b>Write Once, Run Anywhere:</b> Java's "write once, run anywhere" (WORA) principle means that Java programs can run on any
            device or platform with a Java Virtual Machine (JVM). This makes Java a popular choice for developing cross-platform
            applications.
        </p>
        <p>
            <b>Robustness and Security:</b> Java was designed with a strong emphasis on robustness and security. It includes features like
            automatic memory management (garbage collection), exception handling, strong type checking, and built-in security
            mechanisms to protect against vulnerabilities and malicious code.
        </p>
        <p>
            <b>Large Standard Library:</b> Java provides a comprehensive standard library known as the Java Class Library (JCL) or Java
            Development Kit (JDK). It offers a wide range of pre-built classes and APIs for common tasks, such as file I/O,
            networking, database connectivity, graphical user interfaces, and more.
        </p>
        <p>
            <b>Enterprise Applications:</b> Java is commonly used for building enterprise-level applications. Its robustness, scalability,
            and extensive tooling support make it suitable for developing server-side applications, web services, and middleware.
            The Java Enterprise Edition (Java EE) provides additional libraries and specifications for enterprise application
            development.
        </p>
        <p>
            <b>Android Development:</b> Java is the primary language used for Android app development. Android Studio, the official
            integrated development environment (IDE) for Android, provides tools and libraries that allow developers to build native
            Android applications using Java.
        </p>
        <p>
            <b>Big Data and Distributed Systems:</b> Java is used extensively in big data processing and distributed systems. Frameworks
            like Apache Hadoop and Apache Spark are written in Java and provide distributed processing capabilities for large-scale
            data analysis and processing.
        </p>
        <p>
            <b>Internet of Things (IoT):</b> Java is used in IoT development due to its platform independence and flexibility. Java-based
            frameworks like Eclipse IoT provide tools and libraries for building IoT applications and connecting devices.
        </p>
    </div>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<pre class="code" id="ex-1-code"><code class="language-java">
public class Main {
    public static void main(String[] args) {
        System.out.println("Hello World");
    }
}
</code></pre>
{% endblock %}

{% block output %}
<pre class="code" id="ex-1-output"><code class="language-java">
Hello World!
</code></pre>
{% endblock %}