{% extends "base.html" %}

<!--{% block title %}SQL{% endblock %}-->

{% block sidenav %}
<div class="sidebar">
    <Span>SQL Tutorial</Span>
    <a href="{{  url_for('languages.sql')  }}">Intro</a>
    <a href="{{  url_for('languages.sql')  }}">Comments</a>
    <a href="{{  url_for('languages.sql')  }}">Create Table</a>
    <a href="{{  url_for('languages.sql')  }}">Select</a>
    <a href="{{  url_for('languages.sql')  }}">Update</a>
    <a href="{{  url_for('languages.sql')  }}">Delete</a>
    <a href="{{  url_for('languages.sql')  }}">Insert</a>
    <a href="{{  url_for('languages.sql')  }}">Order By</a>
    <a href="{{  url_for('languages.sql')  }}">Operators</a>
    <a href="{{  url_for('languages.sql')  }}">Aggregate Functions</a>
    <a href="{{  url_for('languages.sql')  }}">Joins</a>
    <a href="{{  url_for('languages.sql')  }}">Unions</a>
    <a href="{{  url_for('languages.sql')  }}">Having</a>
    <a href="{{  url_for('languages.sql')  }}">Exists</a>
    <a href="{{  url_for('languages.sql')  }}">Case</a>
    <span>Database</span>
    <a href="{{  url_for('languages.sql')  }}">Create</a>
    <a href="{{  url_for('languages.sql')  }}">Drop</a>
</div>
{% endblock %}

{% block content %}

{% block topic %}{% endblock %}

<div class="topic">
    <div class="title">Code Example</div>
    <div class="code-select">
        {% block examples %}{% endblock %}
    </div>

    <div class="code-examples">
        {% block code %}{% endblock %}
    </div>

    <div class="title">Output</div>
    <div class="code-examples">
        {% block output %}{% endblock %}
    </div>
</div>
{% endblock %}