{% extends "base_code_no_output.html" %}

{% block sidenav %}
<div class="sidebar left-txt">
    <Span>SQL Tutorial</Span>
    <a href="{{  url_for('languages.sql_comments')  }}">Comments</a>
    <a href="{{  url_for('languages.sql_create_table')  }}">Create Table</a>
    <a href="{{  url_for('languages.sql')  }}">Select</a>
    <a href="{{  url_for('languages.sql')  }}">Update</a>
    <a href="{{  url_for('languages.sql')  }}">Delete</a>
    <a href="{{  url_for('languages.sql')  }}">Insert</a>
    <a href="{{  url_for('languages.sql')  }}">Order By</a>
    <a href="{{  url_for('languages.sql')  }}">Operators</a>
    <a href="{{  url_for('languages.sql')  }}">Aggregate Functions</a>
    <a href="{{  url_for('languages.sql')  }}">Joins</a>
    <a href="{{  url_for('languages.sql')  }}">Unions</a>
    <a href="{{  url_for('languages.sql')  }}">Having</a>
    <a href="{{  url_for('languages.sql')  }}">Exists</a>
    <a href="{{  url_for('languages.sql')  }}">Case</a>
    <span>Database</span>
    <a href="{{  url_for('languages.sql')  }}">Create</a>
    <a href="{{  url_for('languages.sql')  }}">Drop</a>
</div>
{% endblock %}