{% extends "languages/javascript/javascript_base.html" %}

{% block title %}JavaScript{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title">JavaScript (JS) Tutorial</div>
    <div class="description-left">
        <p>
            JavaScript has a vast and active developer community, with numerous resources and libraries available. Its versatility,
            compatibility, and ability to run on the client and server sides make it a fundamental language for web development and
            other application domains.
        </p>
        <p>
            <b>Client-Side Web Development:</b> JavaScript is a programming language primarily used for client-side web development. It
            allows developers to add interactivity and dynamic behavior to web pages. With JS, you can manipulate the Document
            Object Model (DOM), handle events, and create interactive user interfaces.
        </p>
        <p>
            <b>Scripting Language:</b> JavaScript is a scripting language, meaning it is interpreted and executed by web browsers. It runs
            on the client's machine, enabling interactive features like form validation, animations, and AJAX (Asynchronous
            JavaScript and XML) for making asynchronous requests to servers.
        </p>
        <p>
            <b>Web APIs and Frameworks:</b> JavaScript provides access to various web APIs, allowing developers to work with elements like
            HTML5 Canvas for graphics, Geolocation for location-based services, Web Storage for client-side data storage, and Web
            Audio for audio manipulation. Additionally, JavaScript frameworks/libraries like React, Angular, and Vue.js simplify web
            development and provide powerful tools for building complex web applications.
        </p>
        <p>
            <b>Cross-Browser Compatibility:</b> JavaScript is supported by all modern web browsers. It allows developers to create web
            applications that work consistently across different platforms and browsers, enhancing the user experience.
        </p>
        <p>
            <b>Server-Side Development:</b> With the introduction of Node.js, JavaScript can now be used for server-side development as
            well. Node.js enables developers to build scalable and high-performance web servers and network applications using
            JavaScript, using an event-driven, non-blocking I/O model.
        </p>
        <p>
            <b>Mobile App Development:</b> JavaScript is used in hybrid mobile app development frameworks like React Native and Ionic.
            These frameworks enable developers to write mobile applications using JavaScript, which can then be compiled into native
            code for iOS and Android platforms.
        </p>
        <p>
            <b>Game Development:</b> JavaScript, along with HTML5 Canvas and WebGL, can be used for game development. Game engines like
            Phaser and Three.js provide frameworks for building 2D and 3D games using JavaScript.
        </p>
        <p>
            <b>Internet of Things (IoT):</b> JavaScript can be utilized in IoT development. Frameworks like Johnny-Five and Tessel provide
            abstractions and APIs to interact with microcontrollers and devices using JavaScript.
        </p>
    </div>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<pre class="code" id="ex-1-code"><code class="language-js">
console.log('Hello World!')
</code></pre>
{% endblock %}

{% block output %}
<pre class="code" id="ex-1-output"><code class="language-js">
Hello World!
</code></pre>
{% endblock %}