{% extends "base_code.html" %}

{% block sidenav %}
<div class="sidebar left-txt">
    <Span>Java Tutorial</Span>
    <a href="{{  url_for('languages.java')  }}">Setup</a>
    <a href="{{  url_for('languages.java')  }}">Comments</a>
    <a href="{{  url_for('languages.java')  }}">Data Types</a>
    <a href="{{  url_for('languages.java')  }}">Casting</a>
    <a href="{{  url_for('languages.java')  }}">Operators</a>
    <a href="{{  url_for('languages.java')  }}">Lists</a>
    <a href="{{  url_for('languages.java')  }}">Arrays</a>
    <a href="{{  url_for('languages.java')  }}">Casting</a>
    <a href="{{  url_for('languages.java')  }}">Tuples</a>
    <a href="{{  url_for('languages.java')  }}">Sets</a>
    <a href="{{  url_for('languages.java')  }}">Dictionaries</a>
    <a href="{{  url_for('languages.java')  }}">Conditionals</a>
    <a href="{{  url_for('languages.java')  }}">Loops</a>
    <a href="{{  url_for('languages.java')  }}">Functions</a>
    <a href="{{  url_for('languages.java')  }}">lambda</a>
    <a href="{{  url_for('languages.java')  }}">Classes</a>
    <a href="{{  url_for('languages.java')  }}">Inheritance</a>
    <a href="{{  url_for('languages.java')  }}">Modules</a>
    <a href="{{  url_for('languages.java')  }}">Try..Except</a>
    <span>Other</span>
    <a href="{{  url_for('languages.java')  }}">User Input</a>
    <a href="{{  url_for('languages.java')  }}">File Handling</a>
</div>
{% endblock %}