{% extends "base.html" %}

{% block title %}Counting Codons{% endblock %}

{% block content %}
<div class="topic">
    <div class="title">Counting Codons</div>
    <div class="description">
        Count the number of each codon type contained within a genetic sequence. Codons 
        are strings with three characters that include A, C, G, and T. 
    </div>
    <form method="post" enctype="multipart/form-data" id="form-data">
        <input type="file" name="file" required>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}