{% extends "data_structures/code_base.html" %}

{% block title %}Undirected Graph{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title center-txt">Undirected Graph</div>
    <div class="description left-txt">
        <p>
            An undirected graph is a mathematical structure that consists of a collection of vertices (also called nodes) and edges
            connecting those vertices. In an undirected graph, edges have no direction associated with them; they simply connect two
            vertices. This means that if there is an edge connecting vertex A to vertex B, you can traverse it from A to B or from B
            to A interchangeably.
        </p>
        <p>
            Here are some key points about undirected graphs:
        </p>
        <p>
            <b>Vertices (Nodes):</b> These are the fundamental units of the graph. Each vertex typically represents some entity or object,
            and they are connected by edges.
        </p>
        <p>
            <b>Edges:</b> These are the connections between vertices. In an undirected graph, an edge simply denotes a relationship or
            connection between two vertices. Edges are usually represented by lines connecting the vertices.
        </p>
        <p>
            <b>Adjacency:</b> Two vertices are said to be adjacent if there is an edge connecting them. In an undirected graph, adjacency
            is symmetric, meaning if vertex A is adjacent to vertex B, then vertex B is also adjacent to vertex A.
        </p>
        <p>
            <b>Degree:</b> The degree of a vertex in an undirected graph is the number of edges incident to it, i.e., the number of edges
            connected to that vertex.
        </p>
        <p>
            <b>Connectivity:</b> In undirected graphs, connectivity refers to the ability to traverse from one vertex to another via edges.
            If there exists a path between any two vertices in the graph, the graph is said to be connected.
        </p>
        <p>
            Undirected graphs find applications in various fields such as computer science, social network analysis, transportation
            networks, and more. They serve as a fundamental model for representing relationships and connections between entities in
            a wide range of systems.
        </p>
    </div>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Python</div>
<div class="sel-code" id="ex-2">C</div>
<div class="sel-code" id="ex-3">C++</div>
<div class="sel-code" id="ex-4">C#</div>
<div class="sel-code" id="ex-5">Java</div>
<div class="sel-code" id="ex-6">JavaScript</div>
{% endblock %}

{% block code %}
<!-- Python code example -->
<pre class="code language-python" id="ex-1-code"><code class="language-py">

</code></pre>

<!-- C code example -->
<pre class="code" id="ex-2-code"><code class="language-c">

</code></pre>

<!-- C++ code example -->
<pre class="code" id="ex-3-code"><code class="language-cpp">

</code></pre>

<!-- C# code example -->
<pre class="code" id="ex-4-code"><code class="language-cs">

</code></pre>

<!-- Java code example -->
<pre class="code" id="ex-5-code"><code class="language-java">

</code></pre>

<!-- JavaScript code example -->
<pre class="code" id="ex-6-code"><code class="language-js-templates">

</code></pre>
{% endblock %}

{% block output %}
<!-- Python code example output -->
<pre class="code" id="ex-1-output"><code class="language-python">

</code></pre>

<!-- C code example output -->
<pre class="code" id="ex-2-output"><code class="language-c">

</code></pre>

<!-- C++ code example output -->
<pre class="code" id="ex-3-output"><code class="language-cpp">

</code></pre>

<!-- C# code example output -->
<pre class="code" id="ex-4-output"><code class="language-cs">

</code></pre>

<!-- Java code example output -->
<pre class="code" id="ex-5-output"><code class="language-java">

</code></pre>

<!-- JavaScript code example output -->
<pre class="code" id="ex-6-output"><code class="language-js">

</code></pre>
{% endblock %}