{% extends "data_structures/code_base.html" %}

{% block title %}Weighted Graph{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title center-txt">Weighted Graph</div>
    <div class="description left-txt">
        <p>
            A weighted graph is a type of graph in which each edge has an associated numerical value, called a weight. These weights
            represent some measure of distance, cost, capacity, or any other relevant metric associated with traversing that edge.
        </p>
        <p>
            Here are the main points about weighted graphs:
        </p>
        <p>
            <b>Vertices (Nodes):</b> These are the fundamental units of the graph. Each vertex typically represents some
            entity or object, and they are connected by edges.
        </p>
        <p>
            <b>Edges:</b> Edges in a weighted graph not only connect vertices but also have a weight associated with them. This weight can
            represent various attributes depending on the context of the problem being modeled. For example, in a transportation
            network, the weight could represent the distance between two locations, in a communication network, it could represent
            latency, and in a social network, it could represent the strength of relationship between individuals.
        </p>
        <p>
            <b>Weights:</b> The weights associated with edges are typically non-negative numbers, although they can be negative or even non-numeric
            in some specialized cases. The interpretation of the weights depends on the specific application of the graph.
        </p>
        <p>
            <b>Path Weight:</b> The weight of a path in a weighted graph is the sum of the weights of all the edges along that path. Finding paths with
            minimum or maximum total weight is a common task in many algorithms and applications involving weighted graphs.
        </p>
        <p>
            Weighted graphs provide a flexible and powerful framework for modeling and analyzing relationships between entities
            where the edges have associated numerical values that represent some meaningful information about the connections
            between vertices. Weighted graphs are used in various real-world scenarios such as route planning (finding the shortest or fastest path
            between two locations), network optimization (minimizing costs or maximizing efficiency in communication or
            transportation networks), resource allocation (determining the optimal distribution of resources based on costs or
            capacities), and more.
        </p>
    </div>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Python</div>
<div class="sel-code" id="ex-2">C</div>
<div class="sel-code" id="ex-3">C++</div>
<div class="sel-code" id="ex-4">C#</div>
<div class="sel-code" id="ex-5">Java</div>
<div class="sel-code" id="ex-6">JavaScript</div>
{% endblock %}

{% block code %}
<!-- Python code example -->
<pre class="code language-python" id="ex-1-code"><code class="language-py">

</code></pre>

<!-- C code example -->
<pre class="code" id="ex-2-code"><code class="language-c">

</code></pre>

<!-- C++ code example -->
<pre class="code" id="ex-3-code"><code class="language-cpp">

</code></pre>

<!-- C# code example -->
<pre class="code" id="ex-4-code"><code class="language-cs">

</code></pre>

<!-- Java code example -->
<pre class="code" id="ex-5-code"><code class="language-java">

</code></pre>

<!-- JavaScript code example -->
<pre class="code" id="ex-6-code"><code class="language-js-templates">

</code></pre>
{% endblock %}

{% block output %}
<!-- Python code example output -->
<pre class="code" id="ex-1-output"><code class="language-python">

</code></pre>

<!-- C code example output -->
<pre class="code" id="ex-2-output"><code class="language-c">

</code></pre>

<!-- C++ code example output -->
<pre class="code" id="ex-3-output"><code class="language-cpp">

</code></pre>

<!-- C# code example output -->
<pre class="code" id="ex-4-output"><code class="language-cs">

</code></pre>

<!-- Java code example output -->
<pre class="code" id="ex-5-output"><code class="language-java">

</code></pre>

<!-- JavaScript code example output -->
<pre class="code" id="ex-6-output"><code class="language-js">

</code></pre>
{% endblock %}