{% extends "data_types/code_base.html" %}

{% block title %}Integer{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title">Integer</div>
    <div class="description">
        Numerical data types composed of whole numbers. They contain no fractions
        or decimals.
    </div>
    <div class="examples">
        <table class="terms-table" id="terms-center">
            <thead>
                <tr>
                    <th>Integer</th>
                    <th>Not an Integer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>-1,004,567</td>
                    <td>-1,004,567.01</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>'1'</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>'Q'</td>
                </tr>
                <tr>
                    <td>56</td>
                    <td>'Fifty Six'</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="topic">
    <div class="title">Integer Types</div>
    <div class="description">
        In some programming languages the size of an integer that is stored
        can be set. Integers can also be unsigned which only allows positive 
        values to be stored. The size of an integer data type is compiler-dependent. 
        A 16-bit system gives an output of an int as 2 bytes, and a 32-bit system 
        gives an output of an int as 2 bytes and 4 bytes.
        <p>
            See <a href="https://en.wikipedia.org/wiki/Integer_(computer_science)">Link</a> for more on integers.
        </p>
    </div>
    <div class="examples">
        <table class="terms-table" id="terms-left">
            <thead>
                <tr>
                    <th>Integer Types</th>
                    <th>Range</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>byte</td>
                    <td>-128 to 127</td>
                </tr>
                <tr>
                    <td>short int</td>
                    <td>-32,768 to 32,767</td>
                </tr>
                <tr>
                    <td>unsigned short int</td>
                    <td>0 to 65,535</td>
                </tr>
                <tr>
                    <td>unsigned int</td>
                    <td>0 to 4,294,967,295</td>
                </tr>
                <tr>
                    <td>int</td>
                    <td>-2,147,483,648 to 2,147,483,647</td>
                </tr>
                <tr>
                    <td>long int</td>
                    <td>-2,147,483,648 to 2,147,483,647</td>
                </tr>
                <tr>
                    <td>unsigned long int</td>
                    <td>0 to 4,294,967,295</td>
                </tr>
                <tr>
                    <td>long long int</td>
                    <td>-9,223,372,036,854,775,808 to 9,223,372,036,854,775,807</td>
                </tr>
                <tr>
                    <td>unsigned long long int</td>
                    <td>0 to 18,446,744,073,709,551,615</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Python</div>
<div class="sel-code" id="ex-2">C</div>
<div class="sel-code" id="ex-3">C++</div>
<div class="sel-code" id="ex-4">C#</div>
<div class="sel-code" id="ex-5">Java</div>
<div class="sel-code" id="ex-6">JavaScript</div>
{% endblock %}

{% block code %}
<!-- Python code example -->
<pre class="code" id="ex-1-code"><code class="language-py">
# Integers in Python

i = 1
num = -2023
lNum = 500123000
</code></pre>

<!-- C code example -->
<pre class="code" id="ex-2-code"><code class="language-c">
// Integers in C

int i = 1;
int num = -2023;
int lNum = 500123000;
</code></pre>

<!-- C++ code example -->
<pre class="code" id="ex-3-code"><code class="language-cpp">
// Integers in C++

int i = 1;
int num = -2023;
int lNum = 500123000;
</code></pre>

<!-- C# code example -->
<pre class="code" id="ex-4-code"><code class="language-cs">
// Integers in C#

int i = 1;
int num = -2023;
long lNum = 500123000L;
</code></pre>

<!-- Java code example -->
<pre class="code" id="ex-5-code"><code class="language-java">
// Integers in Java

byte i = 1;
short sNum = -2023;
int num = 10000
long lNum = 500123000L;
</code></pre>

<!-- JavaScript code example -->
<pre class="code" id="ex-6-code"><code class="language-js">
// Integers in JavaScript

let i = 1;
var num = -2023;
let lNum = 500123000;
</code></pre>
{% endblock %}
