{% extends "data_types/code_base.html" %}

{% block title %}String{% endblock %}

{% block topic %}
<div class="topic" id="data-type">
    <div class="title center-txt">String</div>
    <div class="description center-txt">
        A string is a sequence of characters, typically used to represent text. Characters in a string can include letters,
        numbers, punctuation marks, and special symbols. Strings are a fundamental data type in most programming languages, and
        they can be manipulated and processed using various operations like concatenation, splitting, searching, and replacing.
        They're essential for tasks involving text processing, such as parsing data, manipulating user input, and formatting
        output.
    </div>
    <div class="examples">
        <table class="terms-table center-txt">
            <thead>
                <tr>
                    <th>String</th>
                    <th>Not a String</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>'-1,004,567'</td>
                    <td>-1,004,567.01</td>
                </tr>
                <tr>
                    <td>"1"</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>""</td>
                    <td>NULL</td>
                </tr>
                <tr>
                    <td>'Fifty Six'</td>
                    <td>56</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Python</div>
<div class="sel-code" id="ex-2">C</div>
<div class="sel-code" id="ex-3">C++</div>
<div class="sel-code" id="ex-4">C#</div>
<div class="sel-code" id="ex-5">Java</div>
<div class="sel-code" id="ex-6">JavaScript</div>
{% endblock %}

{% block code %}
<!-- Python code example -->
<pre class="code" id="ex-1-code"><code class="language-py">
# Strings in Python

c = "string"
mystring = "some string"
s = "Hello World!"
</code></pre>

<!-- C code example -->
<pre class="code" id="ex-2-code"><code class="language-c">
// Strings in C

char c[] = "string";
char myChar[] = "some string";
char s[] = "Hello World!";
</code></pre>

<!-- C++ code example -->
<pre class="code" id="ex-3-code"><code class="language-cpp">
// Strings in C++

string c = "string";
string myChar = "some string";
string s = "Hello World!";
</code></pre>

<!-- C# code example -->
<pre class="code" id="ex-4-code"><code class="language-cs">
// Strings in C#

string c = "string";
string myChar = "some string";
string s = "Hello World!";
</code></pre>

<!-- Java code example -->
<pre class="code" id="ex-5-code"><code class="language-java">
// Strings in Java

String c = "String";
String myChar = "some string";
String s = "Hello World!";
</code></pre>

<!-- JavaScript code example -->
<pre class="code" id="ex-6-code"><code class="language-js">
// Strings in JavaScript

let c = "string";
var myChar = "some string";
const s = "Hello World!";
</code></pre>
{% endblock %}