{% extends "base.html" %}

{% block title %}Algorithms{% endblock %}

{% block content %}
<div class="topic" id="sorting-algo">
    <div class="title">Sorting</div>
</div>

<div class="topic-list" id="search-algo">
    <div class="title">Search Algorithms</div>
    <div class="sub-topic">Depth First Search</div>
    <div class="sub-topic">Breadth First Search</div>
    <div class="sub-topic">A&#42</div>
</div>

<div class="topic" id="hash-algo">
    <div class="title">Hashing</div>
</div>
{% endblock %}