<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>Bioinformatics</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bioinformatics.css') }}">
    </head>
    <body>

        <div class="content">

            <!--Welcome Tile-->
            <div id="nav-tile">
                <div id="nav-bar">
                    <ul class="nav">
                        <li><nav><a href="{{  url_for('home')  }}">Home</a></nav></li>
                        <li><nav><a id="nav-active" href="{{  url_for('bioinformatics')  }}">Bioinformatics</a></nav></li>
                        <li><nav><a href="{{  url_for('chemistry')  }}">Chemistry</a></nav></li>
                        <li><nav><a href="{{  url_for('computer_science')  }}">Computer Science</a></nav></li>
                        <li><nav><a href="{{  url_for('engineering')  }}">Engineering</a></nav></li>
                        <li><nav><a href="{{  url_for('math')}}">Math</a></nav></li>
                        <li><nav><a href="{{  url_for('useful_tools')  }}">Useful Tools</a></nav></li>
                    </ul>
                </div>
                <div id="search-container">
                    <form id="search-tile">
                        <input type="text" placeholder="Search...">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>

            <!--Contains All Content Tiles-->
            <div class="topics">
                <div class="topic" id="atoms">
                    <div class="topic-text">Atoms</div>
                </div>

                <div class="topic" id="formulas" onclick="location.href='./engineering.html'">
                    <div class="topic-text">Formulas</div>
                </div>
                
                <div class="topic" id="reactions">
                    <div class="topic-text">Reactions</div>
                </div>

                <div class="topic" id="stoichiometry" onclick="location.href='./chemistry.html'">
                    <div class="topic-text">Stoichiometry</div>
                </div>

                <div class="topic" id="structure">
                    <div class="topic-text">structure</div>
                </div>

                <div class="topic" id="future-topic">
                    <div class="topic-text">Future Content</div>
                </div>
            </div>

            <div class="footer-tile">
                <div id="footer-tran"></div>
                <footer class="footer" id="foot">
                    <div class="info" id="about">About</div>
                    <div class="info" id="contact">Contact</div>
                    <div class="info" id="resources">Resources</div>
                </footer>
            </div>

        </div>
    </body>
</html>