{% extends "base.html" %}

{% block title %}Computer Science{% endblock %}

{% block content %}
<div class="topic" id="prog-con">
    <div class="title">Programming Concepts</div>
    <a class="sub-topic" href="{{  url_for('cs_concepts')  }}">Learn More</a>
    <div class="sub-topic">Practice</div>
    <div class="sub-topic">Quiz</div>
</div>

<div class="topic" id="tools">
    <div class="title">Tools and Software</div>
    <div class="sub-topic">Flask</div>
    <div class="sub-topic">Git</div>
    <div class="sub-topic">Docker</div>
</div>

<div class="topic" id="languages">
    <div class="title">Languages</div>
    <div class="sub-topic">Python</div>
    <div class="sub-topic">C</div>
    <div class="sub-topic">C++</div>
    <div class="sub-topic">Java</div>
    <div class="sub-topic">HTML</div>
    <div class="sub-topic">CSS</div>
    <div class="sub-topic">JavaScript</div>
    <div class="sub-topic">SQL</div>
</div>

<div class="topic" id="search-algo">
    <div class="title">Search Algorithms</div>
    <div class="sub-topic">Depth First Search</div>
    <div class="sub-topic">Breadth First Search</div>
    <div class="sub-topic">A&#42</div>
</div>

<div class="topic" id="art-intel">
    <div class="title">Artificial Intellignece</div>
    <div class="sub-topic">Natural Language Processing</div>
    <div class="sub-topic">Nerual Networks</div>
</div>
{% endblock %}