{% extends "base.html" %}

{% block title %}Computer Science{% endblock %}

{% block content %}
<div class="topic" id="data-types">
    <div class="title">Data Types</div>
    <div class="topic-list">
        <a class="sub-topic" href="{{  url_for('integers')  }}">Integer</a>
        <a class="sub-topic" href="{{  url_for('floats')  }}">Float</a>
        <a class="sub-topic" href="{{  url_for('dates')  }}">Date</a>
        <a class="sub-topic" href="{{  url_for('characters')  }}">Character</a>
        <a class="sub-topic" href="{{  url_for('strings')  }}">String</a>
        <a class="sub-topic" href="{{  url_for('booleans')  }}">Boolean</a>
        <a class="sub-topic" href="{{  url_for('nulls')  }}">NULL</a>
        <a class="sub-topic" href="{{  url_for('data_types')  }}">Show All</a>
    </div>
    <div class="sub-topic">Take Quiz</div>
</div>

<div class="topic-list" id="data-struc">
    <div class="title">Data Structures</div>
    <a class="sub-topic" href="{{  url_for('data_types')  }}">Learn More</a>
    <div class="sub-topic">Quiz</div>
</div>

<div class="topic-list" id="tools">
    <div class="title">Tools and Software</div>
    <div class="sub-topic">Flask</div>
    <div class="sub-topic">Git</div>
    <div class="sub-topic">Docker</div>
</div>

<div class="topic-list" id="languages">
    <div class="title">Languages</div>
    <div class="sub-topic">Python</div>
    <div class="sub-topic">C</div>
    <div class="sub-topic">C#</div>
    <div class="sub-topic">Java</div>
    <div class="sub-topic">HTML</div>
    <div class="sub-topic">CSS</div>
    <div class="sub-topic">JavaScript</div>
    <div class="sub-topic">SQL</div>
</div>

<div class="topic-list" id="search-algo">
    <div class="title">Search Algorithms</div>
    <div class="sub-topic">Depth First Search</div>
    <div class="sub-topic">Breadth First Search</div>
    <div class="sub-topic">A&#42</div>
</div>

<div class="topic-list" id="art-intel">
    <div class="title">Artificial Intellignece</div>
    <div class="sub-topic">Natural Language Processing</div>
    <div class="sub-topic">Nerual Networks</div>
</div>
{% endblock %}