{% extends "base.html" %}

{% block title %}Data Types{% endblock %}

{% block content %}
<div class="topic">
    <div class="title">Integer</div>
    <div class="description">
        Numerical data types composed of whole numbers. They contain no fractions
        or decimals.
    </div>
    <a class="more" href="{{  url_for('datatypes_route', pagename='integers')  }}"><b>MORE</b></a>
</div>

<div class="topic">
    <div class="title">Float</div>
    <div class="description">
        Numerical data types composed of fractions or decimals.
    </div>
    <a class="more" href="{{  url_for('datatypes_route', pagename='floats')  }}"><b>MORE</b></a>
</div>

<div class="topic">
    <div class="title">Date</div>
    <div class="description">
        Data type that stores a calendar date as YYYY-MM-DD format.
    </div>
    <a class="more" href="{{  url_for('datatypes_route', pagename='dates')  }}"><b>MORE</b></a>
</div>

<div class="topic">
    <div class="title">Character</div>
    <div class="description">
        Data type that stores a single letter, number, or special symbol.
    </div>
    <a class="more" href="{{  url_for('datatypes_route', pagename='characters')  }}"><b>MORE</b></a>
</div>

<div class="topic">
    <div class="title">String</div>
    <div class="description">
        Data type that stores a sequence of characters, numbers, or symbols.
    </div>
    <a class="more" href="{{  url_for('datatypes_route', pagename='strings')  }}"><b>MORE</b></a>
</div>

<div class="topic">
    <div class="title">Boolean</div>
    <div class="description">
        Logical data type used for true or false values.
    </div>
    <a class="more" href="{{  url_for('datatypes_route', pagename='booleans')  }}"><b>MORE</b></a>
</div>

<div class="topic">
    <div class="title">NULL</div>
    <div class="description">
        Data type containing no value.
    </div>
    <a class="more" href="{{  url_for('datatypes_route', pagename='nulls')  }}"><b>MORE</b></a>
</div>
{% endblock %}