<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>

        <div class="content">

            <!--Welcome Tile-->
            <div id="nav-tile">
                <div id="nav-bar">
                    <ul class="nav">
                        <li><nav><a id="nav-active" href="{{  url_for('home')  }}">Home</a></nav></li>
                        <li><nav><a href="{{  url_for('bioinformatics')  }}">Bioinformatics</a></nav></li>
                        <li><nav><a href="{{  url_for('chemistry')  }}">Chemistry</a></nav></li>
                        <li><nav><a href="{{  url_for('computer_science')  }}">Computer Science</a></nav></li>
                        <li><nav><a href="{{  url_for('engineering')  }}">Engineering</a></nav></li>
                        <li><nav><a href="{{  url_for('math')}}">Math</a></nav></li>
                        <li><nav><a href="{{  url_for('useful_tools')  }}">Useful Tools</a></nav></li>
                    </ul>
                </div>
                <div id="search-container">
                    <form id="search-tile">
                        <input type="text" placeholder="Search...">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>

            <!--Contains All Content Tiles-->
            <div class="tiles">
                <div class="tile" id="bio-tile">
                    <div class="topic-tile" id="bio-topic">
                        <div class="tile-text">Bioinformatics</div>
                        <div class="sub-tile" id="bio-description">
                            Get help counting codons in a genenic sequence along with comparing the
                            phylogeny and alignment of each sequence to each other. Furthermore,
                            get help assembling sequence fragments into a complete genome.
                        </div> 
                    </div>
                    <a class="more-tile" href="{{  url_for('bioinformatics')  }}"><b>Learn More</b></a>
                </div>

                <div class="tile" id="chemistry-tile">
                    <div class="topic-tile" id="chem-topic">
                        <div class="tile-text">Chemistry</div>
                        <div class="sub-tile" id="chem-description">
                            Get help memorizing the periodic table, balancing chemical formulas, creating
                            Lewis structures, and more.
                        </div>
                    </div>
                    <a class="more-tile" href="{{  url_for('chemistry')  }}"><b>Learn More</b></a>
                </div>

                <div class="tile" id="computer-tile" >
                    <div class="topic-tile" id="csci-topic">
                        <div class="tile-text">Computer Science</div>
                        <div class="sub-tile" id="csci-description">
                            Learn about common data structures and algorithms along with popular
                            languages used to implement them.
                        </div>
                    </div>
                    <a class="more-tile" href="{{  url_for('computer_science')  }}"><b>Learn More</b></a>
                </div>

                <div class="tile" id="engineering-tile">
                    <div class="topic-tile" id="eng-topic">
                        <div class="tile-text">Engineering</div>
                        <div class="sub-tile" id="eng-description">
                            Get help balancing energy and material flow rates along with material science 
                            and more.
                        </div>
                    </div>
                    <a class="more-tile" href="{{  url_for('engineering')  }}"><b>Learn More</b></a>
                </div>

                <div class="tile" id="math-tile">
                    <div class="topic-tile" id="math-topic">
                        <div class="tile-text">Math</div>
                        <div class="sub-tile" id="math-description">
                            Learn how to solve mathmatical equations in calculus and algebra 
                            along with formulas used to solve important problems.
                        </div>
                    </div>
                    <a class="more-tile" href="{{  url_for('math')  }}"><b>Learn More</b></a>
                </div>

                <div class="tile" id="tools-tile">
                    <div class="topic-tile" id="tools-topic">
                        <div class="tile-text">Useful Tools</div>
                        <div class="sub-tile" id="tools-description">
                            Use automated tools that simplify tedious tasks such as filling out tax returns
                            and editing images.
                        </div>
                    </div>
                    <a class="more-tile" href="{{  url_for('useful_tools')  }}"><b>Learn More</b></a>
                </div>
            </div>

            <div class="footer-tile">
                <footer class="footer" id="foot">
                    <div class="info" id="about">About</div>
                    <div class="info" id="contact">Contact</div>
                    <div class="info" id="resources">Resources</div>
                </footer>
            </div>
            
        </div>
    </body>
</html>