{% extends "base.html" %}

{% block title %}Math{% endblock %}

{% block content %}
<div class="topic" id="atoms">
    <div class="title">Atoms</div>
</div>

<div class="topic" id="formulas">
    <div class="title">Formulas</div>
</div>

<div class="topic" id="reactions">
    <div class="title">Reactions</div>
</div>

<div class="topic" id="stoichiometry">
    <div class="title">Stoichiometry</div>
</div>

<div class="topic" id="structure">
    <div class="title">structure</div>
</div>

<div class="topic" id="future-topic">
    <div class="title">Future Content</div>
</div>
{% endblock %}