{% extends "languages/c/c_base.html" %}

{% block title %}C{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title center-txt">C Tutorial</div>
    <div class="description left-txt">
        <p>
            C has a concise syntax, strong community support, and a rich library ecosystem. It serves as the foundation for many
            other programming languages and has been widely adopted in various domains, particularly in systems programming,
            embedded systems, and low-level software development.
        </p>
        <p>
            <b>Procedural Programming Language:</b> C is a procedural programming language developed in the early 1970s. It provides a
            structured approach to writing code, emphasizing procedures or functions that perform specific tasks.
        </p>
        <p>
            <b>Low-Level Language:</b> C is considered a low-level language because it provides direct control over hardware resources and
            memory management. It allows for fine-grained manipulation of data and provides access to low-level operations like
            pointer arithmetic.
        </p>
        <p>
            <b>Portability and Efficiency:</b> C was designed to be portable and efficient. Programs written in C can be compiled and run
            on a wide range of platforms, making it a popular choice for developing operating systems, device drivers, and embedded
            systems.
        </p>
        <p>
            <b>Systems Programming:</b> C is commonly used for systems programming tasks where direct hardware interaction and low-level
            control are required. It has been used extensively for developing operating systems (such as Unix and Linux), firmware,
            device drivers, and other system-level software.
        </p>
        <p>
            <b>Embedded Systems:</b> C is widely used in embedded systems development, where it enables programming of microcontrollers,
            single-board computers, and other resource-constrained devices. Its efficiency and direct access to hardware make it
            suitable for developing firmware and control systems.
        </p>
        <p>
            <b>Game Development:</b> C has been used in the game development industry for many years. It offers performance and control
            needed for graphics rendering, physics simulations, and real-time processing. Additionally, many game engines provide
            support for C or C++ for scripting or engine customization.
        </p>
        <p>
            <b>Compiler Development:</b> Due to its simplicity and close relationship with machine code, C is often used for developing
            compilers, interpreters, and language implementations. Many programming languages, including C++, Python, and Perl, have
            their compilers implemented in C.
        </p>
        <p>
            <b>Unix and Linux Development:</b> C has played a significant role in the development of Unix and Linux operating systems. Much
            of the foundational software and utilities in these systems, including shells, file systems, network protocols, and
            command-line tools, are written in C.
        </p>
    </div>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
{% endblock %}

{% block code %}
<pre class="code" id="ex-1-code"><code class="language-python">
#include &#60;stdio.h&#62;

int main() {
    printf("Hello World!");
    return 0;
}
</code></pre>
{% endblock %}

{% block output %}
<pre class="code" id="ex-1-output"><code class="language-python">
Hello World!
</code></pre>
{% endblock %}