{% extends "base_code.html" %}

{% block sidenav %}
<div class="sidebar left-txt">
    <Span>C Tutorial</Span>
    <a href="{{  url_for('languages.c_setup')  }}">Setup</a>
    <a href="{{  url_for('languages.c_comments')  }}">Comments</a>
    <a href="{{  url_for('languages.c_data_types')  }}">Data Types</a>
    <a href="{{  url_for('languages.c_constants')  }}">Constants</a>
    <a href="{{  url_for('languages.c_operators')  }}">Operators</a>
    <a href="{{  url_for('languages.c_booleans')  }}">Booleans</a>
    <a href="{{  url_for('languages.c_conditionals')  }}">Conditionals</a>
    <a href="{{  url_for('languages.c_switch_case')  }}">Switch</a>
    <a href="{{  url_for('languages.c_loops')  }}">Loops</a>
    <a href="{{  url_for('languages.c_arrays')  }}">Arrays</a>
    <a href="{{  url_for('languages.c_pointers')  }}">Pointers</a>
    <a href="{{  url_for('languages.c_functions')  }}">Functions</a>
    <a href="{{  url_for('languages.c_structures')  }}">Structures</a>
    <a href="{{  url_for('languages.c_enums')  }}">Enums</a>
    <span>Other</span>
    <a href="{{  url_for('languages.c')  }}">User Input</a>
    <a href="{{  url_for('languages.c')  }}">File Handling</a>
</div>
{% endblock %}