{% extends "base.html" %}

{% block sidenav %}
<div class="sidebar left-txt">
    <Span>C Tutorial</Span>
    <a href="{{  url_for('languages.c_setup')  }}">Setup</a>
    <a href="{{  url_for('languages.c_comments')  }}">Comments</a>
    <a href="{{  url_for('languages.c_data_types')  }}">Data Types</a>
    <a href="{{  url_for('languages.c_constants')  }}">Constants</a>
    <a href="{{  url_for('languages.c_operators')  }}">Operators</a>
    <a href="{{  url_for('languages.c_booleans')  }}">Booleans</a>
    <a href="{{  url_for('languages.c_conditionals')  }}">Conditionals</a>
    <a href="{{  url_for('languages.c_switch_case')  }}">Switch</a>
    <a href="{{  url_for('languages.c')  }}">Loops</a>
    <a href="{{  url_for('languages.c')  }}">Arrays</a>
    <a href="{{  url_for('languages.c')  }}">User Input</a>
    <a href="{{  url_for('languages.c')  }}">Pointers</a>
    <a href="{{  url_for('languages.c')  }}">Functions</a>
    <a href="{{  url_for('languages.c')  }}">Structures</a>
    <a href="{{  url_for('languages.c')  }}">Enums</a>
    <span>Other</span>
    <a href="{{  url_for('languages.c')  }}">User Input</a>
    <a href="{{  url_for('languages.c')  }}">File Handling</a>
</div>
{% endblock %}

{% block content %}

{% block topic %}{% endblock %}

<div class="topic">
    <div class="title center-txt">Code Example</div>
    <div class="code-select">
        {% block examples %}{% endblock %}
    </div>

    <div class="code-examples">
        {% block code %}{% endblock %}
    </div>

    <div class="title center-txt">Output</div>
    <div class="code-examples">
        {% block output %}{% endblock %}
    </div>
</div>
{% endblock %}