{% extends "languages/c/c_base.html" %}

{% block title %}C Conditionals{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title center-txt">Conditionals</div>
    <div class="description left-txt">
        <p>
            In C, conditional statements are used to control the flow of execution based on certain conditions. The primary
            conditional statements in C are the if, else if, and else statements. These statements allow you to execute different
            blocks of code depending on whether certain conditions are true or false.
        </p>
    </div>
    <div class="title center-txt">Syntax</div>
    <div class="code-syntax">
        <pre><code class="language-c">
            if (condition1) {
                // Code Block
            } else if (condition2) {
                // Code Block
            } else {
                // Code Block
            }
        </code></pre>
    </div>
    <div class="description left-txt">
        <p>
            <b>if Statement:</b> The if statement allows you to execute a block of code if a specified condition is true. If the condition 
            inside the parentheses evaluates to true, the code block enclosed within curly braces is executed. If the condition is 
            false, the code block is skipped.
        </p>
        <p>
            <b>else if Statement:</b> The else if statement allows you to specify additional conditions to test if the preceding if
            condition is false. If condition1 is false, condition2 is evaluated. If condition2 is true, the corresponding code block 
            is executed. You can have multiple else if blocks to test multiple conditions sequentially.
        </p>
        <p>
            <b>else Statement:</b> The else statement is used to specify a block of code that should be executed if none of the preceding
            conditions are true. It is optional and always comes after the if or else if blocks. If none of the conditions specified 
            in the if or else if statements are true, the code block following the else statement is executed.
        </p>
    </div>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
<div class="sel-code" id="ex-2">Example 2</div>
{% endblock %}

{% block code %}
<pre class="code" id="ex-1-code"><code class="language-c">
#include &#60;stdio.h&#62;

int main() {
    int num = 10;

    if (num > 0) {
        printf("%d is positive.\n", num);
    } else if (num &#60; 0) {
        printf("%d is negative.\n", num);
    } else {
        printf("%d is zero.\n", num);
    }

    return 0;
}
</code></pre>

<pre class="code" id="ex-2-code"><code class="language-c">
#include &#60;stdio.h&#62;

int main() {
    int num = -25;

    if (num > 0) {
        printf("%d is positive.\n", num);
    } else if (num &#60; 0) {
        printf("%d is negative.\n", num);
    } else {
        printf("%d is zero.\n", num);
    }

    return 0;
}
</code></pre>
{% endblock %}

{% block output %}
<pre class="code" id="ex-1-output"><code class="language-c">
10 is positive.
</code></pre>
<pre class="code" id="ex-2-output"><code class="language-c">
-25 is negative.
</code></pre>
{% endblock %}