{% extends "languages/c/c_base.html" %}

{% block title %}C Conditionals{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title center-txt">Conditionals</div>
    <div class="description left-txt">
        <p>
            In C, conditional statements are used to control the flow of execution based on certain conditions. The primary
            conditional statements in C are the if, else if, and else statements. These statements allow you to execute different
            blocks of code depending on whether certain conditions are true or false.
        </p>
    </div>
    <div class="title center-txt">Syntax</div>
    <pre><code class="language-c">
        if (condition) {
            // Code Block
        } else if (condition) {
            // Code Block
        } else {
            // Code Block
        }
    </code></pre>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
<div class="sel-code" id="ex-2">Example 2</div>
{% endblock %}

{% block code %}
<pre class="code" id="ex-1-code"><code class="language-c">
#include &#60;stdio.h&#62;

int main() {
    int num = 10;

    if (num > 0) {
        printf("%d is positive.\n", num);
    } else if (num &#60; 0) {
        printf("%d is negative.\n", num);
    } else {
        printf("%d is zero.\n", num);
    }

    return 0;
}
</code></pre>

<pre class="code" id="ex-2-code"><code class="language-c">
#include &#60;stdio.h&#62;

int main() {
    int num = -25;

    if (num > 0) {
        printf("%d is positive.\n", num);
    } else if (num &#60; 0) {
        printf("%d is negative.\n", num);
    } else {
        printf("%d is zero.\n", num);
    }

    return 0;
}
</code></pre>
{% endblock %}

{% block output %}
<pre class="code" id="ex-1-output"><code class="language-c">
10 is positive.
</code></pre>
<pre class="code" id="ex-2-output"><code class="language-c">
-25 is negative.
</code></pre>
{% endblock %}