{% extends "languages/c/c_base.html" %}

{% block title %}C Loops{% endblock %}

{% block topic %}
<div class="topic">
    <div class="title center-txt">Loops</div>
    <div class="description left-txt">
        <p>
            Loops are programming constructs that allow you to execute a block of code repeatedly as long as a specified condition
            is true. In C, there are primarily three types of loops: for, while, and do-while.
        </p>
    </div>
</div>

<div class="topic">
    <div class="title center-txt">For Loop</div>
    <div class="description left-txt">
        <p>
            The for loop is used when you know exactly how many times you want to execute a block of code. It has the following
            syntax:
        </p>
    </div>
    <div class="code-syntax">
        <pre><code class="language-c">
            for (initialization; condition; update) {
                // Code Block
            }
        </code></pre>
    </div>
    <div class="description left-txt">
        <p>
            The initialization step is executed only once at the beginning. Then, the condition is evaluated before each iteration.
            If it evaluates to true, the code block is executed. After each iteration, the update statement is executed. This
            process continues until the condition becomes false.
        </p>
    </div>
</div>

<div class="topic">
    <div class="title center-txt">While Loop</div>
    <div class="description left-txt">
        <p>
            The while loop is used when you want to execute a block of code repeatedly as long as a specified condition is true. It
            has the following syntax:
        </p>
    </div>
    <div class="code-syntax">
        <pre><code class="language-c">
            While (condition) {
                // Code Block
            }
        </code></pre>
    </div>
    <div class="description left-txt">
        <p>
            The condition is evaluated before each iteration. If it evaluates to true, the code block is executed. If the condition
            is false initially, the code block is never executed.
        </p>
    </div>
</div>

<div class="topic">
    <div class="title center-txt">Do-While Loop</div>
    <div class="description left-txt">
        <p>
            The do-while loop is similar to the while loop, but the condition is evaluated after the code block is executed,
            ensuring that the code block is executed at least once. It has the following syntax:
        </p>
    </div>
    <div class="code-syntax">
        <pre><code class="language-c">
            do {
                // Code Block
            } while (condition);
        </code></pre>
    </div>
    <div class="description left-txt">
        <p>
            The code block is executed once initially, and then the condition is evaluated. If it evaluates to true, the code block
            is executed again. If the condition is false after the first iteration, the loop terminates.
        </p>
    </div>
</div>
{% endblock %}

{% block examples %}
<div class="sel-code" id="ex-1">Example 1</div>
<div class="sel-code" id="ex-2">Example 2</div>
<div class="sel-code" id="ex-3">Example 3</div>
{% endblock %}

{% block code %}
<pre class="code" id="ex-1-code"><code class="language-c">
#include &#60;stdio.h&#62;

int main() {
    
    for (int i = 1; i &#60;= 5; i++){
        printf("%d\n", i);
    }

    return 0;
}
</code></pre>

<pre class="code" id="ex-2-code"><code class="language-c">
#include &#60;stdio.h&#62;

int main() {
    int i = 6;

    while (i &#60;= 10){
        printf("%d\n", i);
        i++;
    }

    return 0;
}
</code></pre>

<pre class="code" id="ex-3-code"><code class="language-c">
#include &#60;stdio.h&#62;

int main() {
    int i = 11;

    do {
        printf("%d\n", i);
        i++;
    } while (i &#60;= 15);

    return 0;
}
</code></pre>
{% endblock %}

{% block output %}
<pre class="code" id="ex-1-output"><code class="language-c">
1
2
3
4
5
</code></pre>
<pre class="code" id="ex-2-output"><code class="language-c">
6
7
8
9
10
</code></pre>
<pre class="code" id="ex-3-output"><code class="language-c">
11
12
13
14
15
</code></pre>
{% endblock %}