{% extends "base_code.html" %}

{% block sidenav %}
<div class="sidebar left-txt">
    <Span>Python Tutorial</Span>
    <a href="{{  url_for('languages.python_setup')  }}">Setup</a>
    <a href="{{  url_for('languages.python')  }}">Comments</a>
    <a href="{{  url_for('languages.python')  }}">Data Types</a>
    <a href="{{  url_for('languages.python')  }}">Casting</a>
    <a href="{{  url_for('languages.python')  }}">Operators</a>
    <a href="{{  url_for('languages.python')  }}">Lists</a>
    <a href="{{  url_for('languages.python')  }}">Arrays</a>
    <a href="{{  url_for('languages.python')  }}">Casting</a>
    <a href="{{  url_for('languages.python')  }}">Tuples</a>
    <a href="{{  url_for('languages.python')  }}">Sets</a>
    <a href="{{  url_for('languages.python')  }}">Dictionaries</a>
    <a href="{{  url_for('languages.python')  }}">Conditionals</a>
    <a href="{{  url_for('languages.python')  }}">Loops</a>
    <a href="{{  url_for('languages.python')  }}">Functions</a>
    <a href="{{  url_for('languages.python_lambda')  }}">Lambda</a>
    <a href="{{  url_for('languages.python')  }}">Classes</a>
    <a href="{{  url_for('languages.python')  }}">Inheritance</a>
    <a href="{{  url_for('languages.python')  }}">Try..Except</a>
    <a href="{{  url_for('languages.python')  }}">Decorators</a>
    <span>Other</span>
    <a href="{{  url_for('languages.python')  }}">Modules</a>
    <a href="{{  url_for('languages.python')  }}">User Input</a>
    <a href="{{  url_for('languages.python')  }}">File Handling</a>
    <a href="{{  url_for('languages.python')  }}">Threading</a>
    <a href="{{  url_for('languages.python')  }}">Multiprocessing</a>
</div>
{% endblock %}