<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="title" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prism.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='js/base.js') }}" defer></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <!--Main Navigation Tile-->
        <div class="nav-bar">
            <ul class="nav">
                <li><a href="{{  url_for('main.index')  }}" class="dropbtn nav-tile {% if nav_id == 'home-page' %}active{% endif %}">Home</a></li>
                <li><div class="{% if nav_id == 'data-page' %}active{% endif %}">
                    <!--Data Types Sub Navigation-->
                    <div class="dropbtn nav-tile center-txt">Data Types</div>
                    <div class="dropdown-element" style="display: none;">
                        <a class="drop-link center-txt" href="{{  url_for('data_types.floats')  }}">Floats</a>
                        <a class="drop-link center-txt" href="{{  url_for('data_types.integers')  }}">Integers</a>
                        <a class="drop-link center-txt" href="{{  url_for('data_types.dates')  }}">Dates</a>
                        <a class="drop-link center-txt" href="{{  url_for('data_types.characters')  }}">Characters</a>
                        <a class="drop-link center-txt" href="{{  url_for('data_types.strings')  }}">Strings</a>
                        <a class="drop-link center-txt" href="{{  url_for('data_types.booleans')  }}">Booleans</a>
                        <a class="drop-link center-txt" href="{{  url_for('data_types.nulls')  }}">Nulls</a>
                    </div>
                </div></li>
                <li><div class="{% if nav_id == 'struct-page' %}active{% endif %}">
                    <div class="dropbtn nav-tile center-txt">Data Structures</div>
                    <div class="dropdown-element" style="display: none;">
                        <div class="drop-element-list">
                            <div class="drop-link-main center-txt">Linear Structures</div>
                            <a class="drop-link center-txt" href="{{  url_for('data_structures.arrays')  }}">Arrays</a>
                            <a class="drop-link center-txt" href="{{  url_for('data_structures.linked_lists')  }}">Linked List</a>
                            <a class="drop-link center-txt" href="{{  url_for('data_structures.queues')  }}">Queue</a>
                            <a class="drop-link center-txt" href="{{  url_for('data_structures.stacks')  }}">Stack</a>
                            <a class="drop-link center-txt" href="{{  url_for('data_structures.hash_tables')  }}">Hash Tables</a>
                        </div>
                        <div class="drop-element-list">
                            <div class="drop-link-main center-txt center-txt">Trees</div>
                            <a class="drop-link center-txt" href="{{  url_for('data_structures.binary_search_tree')  }}">Binary Search Tree</a>
                            <a class="drop-link center-txt" href="{{  url_for('data_structures.b_tree')  }}">B-Tree</a>
                            <a class="drop-link center-txt" href="{{  url_for('data_structures.red_black_tree')  }}">Red-Black Tree</a>
                            <a class="drop-link center-txt" href="{{  url_for('data_structures.index')  }}">AVL Tree</a>
                        </div>
                        <div class="drop-element-list">
                            <div class="drop-link-main center-txt center-txt">Graphs</div>
                            <a class="drop-link center-txt" href="{{  url_for('data_structures.index')  }}">Undirected Graph</a>
                            <a class="drop-link center-txt" href="{{  url_for('data_structures.index')  }}">Directed Graph</a>
                            <a class="drop-link center-txt" href="{{  url_for('data_structures.index')  }}">Weighted Graph</a>
                        </div>
                    </div>
                </div></li>
                <li><div class="{% if nav_id == 'lang-page' %}active{% endif %}">
                    <!--Programming Languages Sub Navigation-->
                    <div class="dropbtn nav-tile center-txt">Programming Languages</div>
                    <div class="dropdown-element" style="display: none;">
                        <a class="drop-link center-txt" href="{{  url_for('languages.python')  }}">Python</a>
                        <a class="drop-link center-txt" href="{{  url_for('languages.c')  }}">C</a>
                        <a class="drop-link center-txt" href="{{  url_for('languages.cpp')  }}">C++</a>
                        <a class="drop-link center-txt" href="{{  url_for('languages.cs')  }}">C#</a>
                        <a class="drop-link center-txt" href="{{  url_for('languages.java')  }}">Java</a>
                        <a class="drop-link center-txt" href="{{  url_for('languages.javascript')  }}">JavaScript</a>
                        <a class="drop-link center-txt" href="{{  url_for('languages.html')  }}">HTML</a>
                        <a class="drop-link center-txt" href="{{  url_for('languages.css')  }}">CSS</a>
                        <a class="drop-link center-txt" href="{{  url_for('languages.sql')  }}">SQL</a>
                    </div>
                </div></li>
                <li><div class="{% if nav_id == 'tools-page' %}active{% endif %}">
                    <div class="dropbtn nav-tile center-txt">Useful Tools</div>
                    <div class="dropdown-element" style="display: none;">
                        <div class="drop-element-list">
                            <div class="drop-link-main center-txt">Frameworks</div>
                            <a class="drop-link center-txt" href="{{  url_for('useful_tools.index')  }}">Flask</a>
                        </div>
                        <div class="drop-element-list">
                            <div class="drop-link-main center-txt">Version Control</div>
                            <a class="drop-link center-txt" href="{{  url_for('useful_tools.index')  }}">Git</a>
                        </div>
                        <div class="drop-element-list">
                            <div class="drop-link-main center-txt">Testing</div>
                            <a class="drop-link center-txt" href="{{  url_for('useful_tools.index')  }}">Docker</a>
                        </div>
                        <div class="drop-element-list">
                            <div class="drop-link-main center-txt">Other</div>
                            <a class="drop-link center-txt" href="{{  url_for('useful_tools.index')  }}">Stuff</a>
                        </div>
                    </div>
                </div></li>
            </ul>
            <!--
            <form id="search-tile">
                <input type="text">
                <button type="submit">Search</button>
            </form>
            -->
        </div>

        <!--Contains All Content Tiles-->
        <div class="content">
            <!-- Side navigation content -->
            <div class="side-nav">
                {% block sidenav %}{% endblock %}
            </div>
            <!-- Main content section -->
            <div class="topics">
                {% block content %}{% endblock %}

                <div class="footer-tile">
                    <!--
                    <footer class="footer" id="foot">
                        <div class="info" id="about">About</div>
                        <div class="info" id="contact">Contact</div>
                        <div class="info" id="resources">Resources</div>
                    </footer>
                    -->
                </div>
            </div>
            <!-- Extra content section-->
            <div class="extras">
                {% block extras %}{% endblock %}
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
    </body>
</html>