<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="title" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prism.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='js/base.js') }}" defer></script>
        {% block head %}{% endblock %}
    </head>
    <body>

        <div class="nav-tile" id="{{ nav_id }}">
            <!--Main Navigation Tile-->
            <div id="nav-bar">
                <ul class="nav">
                    <li><a href="{{  url_for('main.index')  }}" class="{% if nav_id == 'home-page' %}active{% endif %}">Home</a></li>
                    <li><div id="data-pages" class="{% if nav_id == 'data-page' %}active{% endif %}">Data Types</div></li>
                    <li><div id="struct-pages" class="{% if nav_id == 'struct-page' %}active{% endif %}">Data Structures</div></li>
                    <li><div id="lang-pages" class="{% if nav_id == 'lang-page' %}active{% endif %}">Programming Languages</div></li>
                    <li><div id="tools-pages" class="{% if nav_id == 'tools-page' %}active{% endif %}">Useful Tools</div></li>
                </ul>
                <!--
                <form id="search-tile">
                    <input type="text">
                    <button type="submit">Search</button>
                </form>
                -->
            </div>

            <!--Sub Navigation Tile-->
            <div id="sub-nav-bar">
                <!--Data Types Sub Navigation Tile-->
                <div id="data-nav" class="sub-nav">
                    <a class="sn-main-title" href="{{  url_for('data_types.index')  }}">Data Types</a>
                    <div class="sub-nav-topics">
                        <div class="sn-contents-row">
                            <a href="{{  url_for('data_types.datatypes_route', pagename='integers')  }}">Integers</a>
                            <a href="{{  url_for('data_types.datatypes_route', pagename='floats')  }}">Floats</a>
                            <a href="{{  url_for('data_types.datatypes_route', pagename='dates')  }}">Dates</a>
                            <a href="{{  url_for('data_types.datatypes_route', pagename='characters')  }}">Characters</a>
                            <a href="{{  url_for('data_types.datatypes_route', pagename='strings')  }}">Strings</a>
                            <a href="{{  url_for('data_types.datatypes_route', pagename='booleans')  }}">Booleans</a>
                            <a href="{{  url_for('data_types.datatypes_route', pagename='nulls')  }}">Nulls</a>
                        </div>
                    </div>

                </div>

                <!--Data Structures Sub Navigation Tile-->
                <div id="struct-nav" class="sub-nav">
                    <a class="sn-main-title" href="{{  url_for('data_structures.index')  }}">Data Structures</a>
                    <div class="sub-nav-topics">
                        <div class="sn-contents">
                            <a class="sn-title" href="{{  url_for('data_structures.index')  }}">Linear Structures</a>
                            <a href="{{  url_for('data_structures.arrays')  }}">Arrays</a>
                            <a href="{{  url_for('data_structures.linked_lists')  }}">Linked List</a>
                            <a href="{{  url_for('data_structures.queues')  }}">Queue</a>
                            <a href="{{  url_for('data_structures.stacks')  }}">Stack</a>
                            <a href="{{  url_for('data_structures.hash_tables')  }}">Hash Tables</a>
                        </div>
                        <div class="sn-contents">
                            <a class="sn-title" href="{{  url_for('data_structures.index')  }}">Trees</a>
                            <a href="{{  url_for('data_structures.index')  }}">Binary Search Tree</a>
                            <a href="{{  url_for('data_structures.index')  }}">B-Tree</a>
                            <a href="{{  url_for('data_structures.index')  }}">Red-Black Tree</a>
                            <a href="{{  url_for('data_structures.index')  }}">AVL Tree</a>
                        </div>
                        <div class="sn-contents">
                            <a class="sn-title" href="{{  url_for('data_structures.index')  }}">Graphs</a>
                            <a href="{{  url_for('data_structures.index')  }}">Undirected Graph</a>
                            <a href="{{  url_for('data_structures.index')  }}">Directed Graph</a>
                            <a href="{{  url_for('data_structures.index')  }}">Weighted Graph</a>
                        </div>
                    </div>
                </div>
                <!--Programming Languages Sub Navigation Tile-->
                <div id="lang-nav" class="sub-nav">
                    <a class="sn-main-title" href="{{  url_for('languages.index')  }}">Programming Languages</a>
                    <div class="sub-nav-topics">
                        <div class="sn-contents-row">
                            <a href="{{  url_for('languages.python')  }}">Python</a>
                            <a href="{{  url_for('languages.c')  }}">C</a>
                            <a href="{{  url_for('languages.cpp')  }}">C++</a>
                            <a href="{{  url_for('languages.cs')  }}">C#</a>
                            <a href="{{  url_for('languages.java')  }}">Java</a>
                            <a href="{{  url_for('languages.javascript')  }}">JavaScript</a>
                            <a href="{{  url_for('languages.html')  }}">HTML</a>
                            <a href="{{  url_for('languages.css')  }}">CSS</a>
                            <a href="{{  url_for('languages.sql')  }}">SQL</a>
                        </div>
                    </div>
                </div>            

                <!--Useful Tools Sub Navigation Tile-->
                <div id="tools-nav" class="sub-nav">
                    <a class="sn-main-title" href="{{  url_for('useful_tools.index')  }}">Useful Tools</a>
                    <div class="sub-nav-topics">
                        <div class="sn-contents">
                            <a class="sn-title" href="{{  url_for('useful_tools.index')  }}">Frameworks</a>
                            <a href="{{  url_for('useful_tools.index')  }}">Flask</a>
                        </div>
                        
                        <div class="sn-contents">
                            <a class="sn-title" href="{{  url_for('useful_tools.index')  }}">Version Control Software</a>
                            <a href="{{  url_for('useful_tools.index')  }}">Git</a>
                        </div>
                        
                        <div class="sn-contents">
                            <a class="sn-title" href="{{  url_for('useful_tools.index')  }}">Testing Software</a>
                            <a href="{{  url_for('useful_tools.index')  }}">Docker</a>
                        </div>
                    
                        <div class="sn-contents">
                            <a class="sn-title" href="{{  url_for('useful_tools.index')  }}">Other Tools</a>
                            <a href="{{  url_for('useful_tools.index')  }}">Stuff</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Contains All Content Tiles-->
        <div class="content">
            <!-- Side navigation content -->
            <div class="side-nav">
                {% block sidenav %}{% endblock %}
            </div>
            <!-- Main content section -->
            <div class="topics">
                {% block content %}{% endblock %}

                <div class="footer-tile">
                    <!--
                    <footer class="footer" id="foot">
                        <div class="info" id="about">About</div>
                        <div class="info" id="contact">Contact</div>
                        <div class="info" id="resources">Resources</div>
                    </footer>
                    -->
                </div>
            </div>
            <!-- Extra content section-->
            <div class="extras">
                {% block extras %}{% endblock %}
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
    </body>
</html>