{% extends "base.html" %}

{% block title %}Data Types{% endblock %}

{% block content %}
<div class="topic-tile-list">
    <div class="topic-tile">
        <div class="title">Integer</div>
        <div class="description">
            Numerical data types composed of whole numbers. They contain no fractions
            or decimals.
        </div>
        <a class="link" href="{{  url_for('data_types.integers')  }}">Learn More</a>
    </div>

    <div class="topic-tile">
        <div class="title">Float</div>
        <div class="description">
            Numerical data types composed of fractions or decimals.
        </div>
        <a class="link" href="{{  url_for('data_types.floats')  }}">Learn More</a>
    </div>

    <div class="topic-tile">
        <div class="title">Date</div>
        <div class="description">
            Data type that stores a calendar date as YYYY-MM-DD format.
        </div>
        <a class="link" href="{{  url_for('data_types.dates')  }}">Learn More</a>
    </div>

    <div class="topic-tile">
        <div class="title">Character</div>
        <div class="description">
            Data type that stores a single letter, number, or special symbol.
        </div>
        <a class="link" href="{{  url_for('data_types.characters')  }}">Learn More</a>
    </div>

    <div class="topic-tile">
        <div class="title">String</div>
        <div class="description">
            Data type that stores a sequence of characters, numbers, or symbols.
        </div>
        <a class="link" href="{{  url_for('data_types.strings')  }}">Learn More</a>
    </div>

    <div class="topic-tile">
        <div class="title">Boolean</div>
        <div class="description">
            Logical data type used for true or false values.
        </div>
        <a class="link" href="{{  url_for('data_types.booleans')  }}">Learn More</a>
    </div>

    <div class="topic-tile center-tile">
        <div class="title">NULL</div>
        <div class="description">
            Data type containing no value.
        </div>
        <a class="link" href="{{  url_for('data_types.nulls')  }}">Learn More</a>
    </div>
</div>
{% endblock %}