{% extends "base.html" %}

{% block title %}Data Structures{% endblock %}

{% block content %}
<div class="topic">
    <div class="title center-txt">Linear Data Structures</div>
    <div class="description center-txt">
        Data structures organized in a sequential or linear arrangement where
        each element is attached to elements before and after it. These structures 
        can both be static (fixed memory size) or dynamic (memory size can change).
    </div>
    <div class="link-list">
        <a class="link center-txt" href="{{  url_for('data_structures.arrays')  }}">Array</a>
        <a class="link center-txt" href="{{  url_for('data_structures.linked_lists')  }}">Linked List</a>
        <a class="link center-txt" href="{{  url_for('data_structures.queues')  }}">Queue</a>
        <a class="link center-txt" href="{{  url_for('data_structures.stacks')  }}">Stack</a>
        <a class="link center-txt" href="{{  url_for('data_structures.hash_tables')  }}">Hash Table</a>
    </div>
</div>

<div class="topic">
    <div class="title center-txt">Trees</div>
    <div class="description center-txt">
        A non-linear data structure that resembles the shape of trees in real life. 
        Unlike linear structures, trees can have multiple branches (children) and only 
        one previous element (parent).
    </div>
    <div class="link-list">
        <a class="link center-txt" href="{{  url_for('data_structures.binary_search_tree')  }}">Binary Search Tree</a>
        <a class="link center-txt" href="{{  url_for('data_structures.b_tree')  }}">B-Tree</a>
        <a class="link center-txt" href="{{  url_for('data_structures.red_black_tree')  }}">Red-Black Tree</a>
        <a class="link center-txt" href="{{  url_for('data_structures.avl_tree')  }}">AVL Tree</a>
    </div>
</div>

<div class="topic">
    <div class="title center-txt">Graphs</div>
    <div class="description center-txt">
        Another non-linear data structure just like trees but can have multiple parent 
        and child elements. These connections can also form cycles where the pathways will 
        lead back to the original or starting element.
    </div>
    <div class="link-list">
        <a class="link center-txt" href="{{  url_for('data_structures.undirected_graph')  }}">Undirected Graph</a>
        <a class="link center-txt" href="{{  url_for('data_structures.directed_graph')  }}">Directed Graph</a>
        <a class="link center-txt" href="{{  url_for('data_structures.index')  }}">Weighted Graph</a>
    </div>
</div>
{% endblock %}