{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="topic">
    <div class="title">Computer Science Concepts</div>
    <div class="description" id="tutorial-description">
        Learn about common computer science concepts such as data types and common terms.
    </div>
    <div class="link-list">
        <a class="link" href="{{  url_for('data_types.index')  }}">Data Types</a>
        <a class="link" href="{{  url_for('data_structures.index')  }}">Data Structures</a>
        <a class="link" href="#">General</a>
    </div>
</div>

<div class="topic">
    <div class="title">Programming Languages</div>
    <div class="description" id="lang-description">
        Learn about common programming languages in computer science and how to implement them.
    </div>
    <div class="link-list">
        <a class="link" href="{{  url_for('languages.python')  }}">Learn Python</a>
        <a class="link" href="{{  url_for('languages.c')  }}">Learn C</a>
        <a class="link" href="{{  url_for('languages.cpp')  }}">Learn C++</a>
        <a class="link" href="{{  url_for('languages.cs')  }}">Learn C#</a>
        <a class="link" href="{{  url_for('languages.java')  }}">Learn Java</a>
        <a class="link" href="{{  url_for('languages.javascript')  }}">Learn JavaScript</a>
        <a class="link" href="{{  url_for('languages.html')  }}">Learn HTML</a>
        <a class="link" href="{{  url_for('languages.css')  }}">Learn CSS</a>
        <a class="link" href="{{  url_for('languages.sql')  }}">Learn SQL</a>
    </div>
</div>

<div class="topic">
    <div class="title">Useful Tools</div>
    <div class="description" id="tools-description">
        Use automated tools that simplify tedious tasks.
    </div>
    <div class="link-list">
        <a class="link" href="#">Flask</a>
        <a class="link" href="#">Git</a>
        <a class="link" href="#">Other</a>
    </div>
</div>
{% endblock %}