{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="topic">
    <div class="title">Computer Science Concepts</div>
    <div class="description" id="tutorial-description">
        Learn about common computer science concepts such as data types and common terms.
    </div>
    <div>
        <a class="more" href="{{  url_for('data_types.index')  }}"><b>Data Types</b></a>
        <a class="more" href="{{  url_for('data_structures.index')  }}"><b>Data Structures</b></a>
    </div>
</div>

<div class="topic">
    <div class="title">Programming Languages</div>
    <div class="description" id="lang-description">
        Learn about common programming languages in computer science and how to implement them.
    </div>
    <a class="more" href="{{  url_for('languages.index')  }}"><b>Learn More</b></a>
</div>

<div class="topic">
    <div class="title">Useful Tools</div>
    <div class="description" id="tools-description">
        Use automated tools that simplify tedious tasks such as filling out tax returns, 
        editing images, bioinformatics tools, and more.
    </div>
    <a class="more" href="{{  url_for('useful_tools.index')  }}"><b>Learn More</b></a>
</div>
{% endblock %}