{% extends "base.html" %}

{% block title %}Programming Languages{% endblock %}

{% block content %}
<div class="topic-tile-list">
    <div class="topic-tile">
        <div class="title">Python</div>
        <div class="description">A programming language</div>
        <a class="link" href="{{  url_for('languages.python')  }}">Learn Python</a>
    </div>
    
    <div class="topic-tile">
        <div class="title">C</div>
        <div class="description">A programming language</div>
        <a class="link" href="{{  url_for('languages.c')  }}">Learn C</a>
    </div>
    
    <div class="topic-tile">
        <div class="title">C++</div>
        <div class="description">A programming language</div>
        <a class="link" href="{{  url_for('languages.cpp')  }}">Learn C++</a>
    </div>
    
    <div class="topic-tile">
        <div class="title">C#</div>
        <div class="description">A programming language</div>
        <a class="link" href="{{  url_for('languages.cs')  }}">Learn C#</a>
    </div>
    
    <div class="topic-tile">
        <div class="title">Java</div>
        <div class="description">A programming language</div>
        <a class="link" href="{{  url_for('languages.java')  }}">Learn Java</a>
    </div>

    <div class="topic-tile">
        <div class="title">JavaScript</div>
        <div class="description">A language for programming web pages</div>
        <a class="link" href="{{  url_for('languages.javascript')  }}">Learn JavaScript</a>
    </div>
    
    <div class="topic-tile">
        <div class="title">HTML</div>
        <div class="description">A language for creating web pages</div>
        <a class="link" href="{{  url_for('languages.html')  }}">Learn HTML</a>
    </div>
    
    <div class="topic-tile">
        <div class="title">CSS</div>
        <div class="description">A language for styling web pages</div>
        <a class="link" href="{{  url_for('languages.css')  }}">Learn CSS</a>
    </div>
    
    <div class="topic-tile">
        <div class="title">SQL</div>
        <div class="description">A language for databases</div>
        <a class="link" href="{{  url_for('languages.sql')  }}">Learn SQL</a>
    </div>
</div>
{% endblock %}