{% extends "base.html" %}

{% block title %}Useful Tools{% endblock %}

{% block content %}
<div class="topic">
    <div class="title center-txt">Frameworks</div>
    <div class="description center-txt">
        Learn about software frameworks that offer an enhanced platform for developing software 
        applications for websites and more.
    </div>
    <a class="link center-txt" href="#">Learn More</a>
</div>

<div class="topic">
    <div class="title center-txt">Version Control Software</div>
    <div class="description center-txt">
        Learn how to use version control software such as Git that helps developers maintian their 
        code and roll back to earlier versions if needed.
    </div>
    <a class="link center-txt" href="#">Learn More</a>
</div>

<div class="topic">
    <div class="title center-txt">Tools for Testing Software</div>
    <div class="description center-txt">
        Learn about useful tools such as Docker that enable developers to test their software in 
        different environments. 
    </div>
    <a class="link center-txt" href="#">Learn More</a>
</div>

{% endblock %}