{% extends "base.html" %}

{% block title %}Useful Tools{% endblock %}

{% block content %}
<div class="topic">
    <div class="title">Frameworks</div>
    <div class="description">
        Learn about software frameworks that offer an enhanced platform for developing software 
        applications for websites and more.
    </div>
    <a class="more" href="#"><b>LEARN MORE</b></a>
</div>

<div class="topic">
    <div class="title">Version Control Software</div>
    <div class="description">
        Learn how to use version control software such as Git that helps developers maintian their 
        code and roll back to earlier versions if needed.
    </div>
    <a class="more" href="#"><b>LEARN MORE</b></a>
</div>

<div class="topic">
    <div class="title">Tools for Testing Software</div>
    <div class="description">
        Learn about useful tools such as Docker that enable developers to test their software in 
        different environments. 
    </div>
    <a class="more" href="#"><b>LEARN MORE</b></a>
</div>

{% endblock %}